.list{
  position: relative;
}

.listOverflow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.listOverflow.top {
  top:-10%;
  left: 0px;
  height: 20%;
  border-radius:100%; 
}

.listOverflow.bottom {
  bottom:0px;
  left: 0px;
  height: 10%;
}

.listOverflow.left {
  top:0px;
  left: 0px;
  width: 10%;
}

.listOverflow.right {
  top:0px;
  right: 0px;
  width: 10%;
}
