<div class="type">
  <div class="typeName">学习</div>
  <ul class="items">
    <li><a href="emptyClass">
      <div class="icon"><i class="iconfont" style="color:#70d000;">&#xe6d3;</i></div>
      <div class="name">空课室</div>
    </a></li><li><a href="auditor">
      <div class="icon"><i class="iconfont" style="color:#FF5722;">&#xe673;</i></div>
      <div class="name">蹭课</div>
    </a></li><li><a href="http://proxy.deepkolos.cn">
      <div class="icon"><i class="iconfont" style="color:#2196F3;">&#xe6f5;</i></div>
      <div class="name">我的课表</div>
    </a></li><li><a href="http://proxy.deepkolos.cn">
      <div class="icon"><i class="iconfont" style="color:#00BCD4;">&#xe64a;</i></div>
      <div class="name">期末成绩</div>
    </a></li><li><a href="computer">
      <div class="icon"><i class="iconfont" style="color:#9C27B0;">&#xe60e;</i></div>
      <div class="name">计算机成绩</div>
    </a></li><li><a href="mandarin">
      <div class="icon"><i class="iconfont" style="color:#E91E63;">&#xe648;</i></div>
      <div class="name">普通话成绩</div>
    </a></li><li><a href="cet">
      <div class="icon"><i class="iconfont" style="color:#4CAF50;">&#xe6b5;</i></div>
      <div class="name">四六级成绩</div>
    </a></li><li><a href="http://weixin.zhaobenshu.com/WeiXin/hzu/page/home/zbsHome.php">
      <div class="icon"><i class="iconfont" style="color:#4CAF50;">&#xe674;</i></div>
      <div class="name">图书馆</div>
    </a></li>
  </ul>
</div>
<div class="type">
  <div class="typeName">文字</div>
  <ul class="items">
    <li><a href="oneSaying">
      <div class="icon"><i class="iconfont" style="color:#70d000;">&#xe61e;</i></div>
      <div class="name">每日一说</div>
    </a></li>
    <!--<li><a href="auditor">
      <div class="icon"><i class="iconfont" style="color:#FF5722;">&#xe612;</i></div>
      <div class="name">两周一书</div>
    </a></li>-->
    <!--<li><a href="auditor">
      <div class="icon"><i class="iconfont" style="color:#FF5722;">&#xe696;</i></div>
      <div class="name">飞鸽传书</div>
    </a></li>-->
  </ul>
</div>
<div class="type">
  <div class="typeName">生活</div>
  <ul class="items">
    <li><a href="calendar">
      <div class="icon"><i class="iconfont" style="color:#d32f2f;">&#xe60a;</i></div>
      <div class="name">校历</div>
    </a></li>
    <!--<li><a href="emptyClass">
      <div class="icon"><i class="iconfont" style="color:#70d000;">&#xe629;</i></div>
      <div class="name">失物招领</div>
    </a></li>-->
    <li><a href="http://vzan.com/f/s-66688">
      <div class="icon"><i class="iconfont" style="color:#FF9800;">&#xe616;</i></div>
      <div class="name">蓬瀛摸鱼</div>
    </a></li>
    <li><a href="http://vzan.com/f/s-66688">
      <div class="icon"><i class="iconfont" style="color:#4caf50;">&#xe608;</i></div>
      <div class="name">毕业二手</div>
    </a></li>
  </ul>
</div>
<div class="type">
  <div class="typeName">游戏</div>
  <ul class="items">
    <li><a href="http://deepkolos.cn/Demo/shuertefangge.html">
      <div class="icon"><i class="iconfont" style="color:#673AB7;">&#xe64b;</i></div>
      <div class="name">舒尔特方格</div>
    </a></li><li><a href="http://deepkolos.cn/Demo/MineSweeper.html">
      <div class="icon"><i class="iconfont" style="color:#00bcd4;">&#xe614;</i></div>
      <div class="name">扫雷</div>
    </a></li><li><a href="addRedHat">
      <div class="icon"><i class="iconfont" style="color:#df0000;">&#xe603;</i></div>
      <div class="name">添加圣诞帽</div>
    </a></li>
  </ul>
</div>