<div style="width:100%;height:1px;"></div>
<div class="inputComment">
  <textarea id="inputComment" rows="" cols=""></textarea>
</div>
<div class="btnContainer"><span id="btnSend">发送</span>欢迎写写建议~反馈~</div>
<div class="boundary">

</div>

<ul class="commentsContainer">
  <? foreach($comments as $comment){ ?>
    <li>
      <div>
        <p>
          <div>
            <div class="btnLike" commentId = "<?= $comment->id ?>"><i class="iconfont"></i><span><?= $comment->likeNum ?></span></div>
          </div>
          <span class="time"><?= date('Y-m-d',strtotime($comment->time)) ?></span>
        </p>
        <p><?= $comment->content ?></p>
      </div>
      <? if($comment->reply){ ?>
      <div class="reply"><span>作者</span>: <?= $comment->reply ?></div>
      <? } ?>
    </li>
  <? } ?>
</ul>