<div class="main">
  <div class="header flex">
    <div class="title">
      微信-高仿
    </div>
    <div class="search" click="#Main/Index?viewPopUp=Search">
      <img src="/data/littleChat/search-icon.png" alt="">
    </div>
    <div class="plus" click="#Main/Index?viewPopUp=PlusMenu"><img src="/data/littleChat/plus-icon.png" alt=""></div>
  </div>

  <div class="slider">
    <ul>
      <li class="chatList"><div>
        <!--(div.chat.flex>div.right>div.small-notification+div.num-notification+div.icon^div.left>div.flex>div.name{蓝精灵}+div.time{晚上8:10}^div.flex>div.preview{奋斗一年~}+div.setting)*5-->
        <div class="chat flex pin" click="#Chat/Window?to=蓝精灵" 
             press="&viewPopUp=PressMenu">
          <div class="right">
            <div class="small-notification"></div>
            <div class="num-notification"></div>
            <div class="icon"></div>
          </div>
          <div class="left">
            <div class="flex">
              <div class="name">蓝精灵</div>
              <div class="time">晚上8:10</div>
            </div>
            <div class="flex">
              <div class="preview">奋斗一年~</div>
              <div class="setting">
                <img src="/data/littleChat/noeSound-icon.png">
              </div>
            </div>
          </div>
        </div>
        <div class="chat flex" click="#Chat/Window" 
             press="#Main/Index?viewPopUp=PressMenu">
          <div class="right">
            <div class="small-notification"></div>
            <div class="num-notification"></div>
            <div class="icon"></div>
          </div>
          <div class="left">
            <div class="flex">
              <div class="name">蓝精灵</div>
              <div class="time">晚上8:10</div>
            </div>
            <div class="flex">
              <div class="preview">奋斗一年~</div>
              <div class="setting">
                <img src="/data/littleChat/noeSound-icon.png">
              </div>
            </div>
          </div>
        </div>
        <div class="chat flex" click="#Chat/Window" press="#Main/Index?viewPopUp=PressMenu">
          <div class="right">
            <div class="small-notification"></div>
            <div class="num-notification"></div>
            <div class="icon"></div>
          </div>
          <div class="left">
            <div class="flex">
              <div class="name">蓝精灵</div>
              <div class="time">晚上8:10</div>
            </div>
            <div class="flex">
              <div class="preview">奋斗一年~</div>
              <div class="setting"></div>
            </div>
          </div>
        </div>
        <div class="chat flex redDot" click="#Chat/Window" press="#Main/Index?viewPopUp=PressMenu">
          <div class="right">
            <div class="small-notification"></div>
            <div class="num-notification"></div>
            <div class="icon"></div>
          </div>
          <div class="left">
            <div class="flex">
              <div class="name">蓝精灵</div>
              <div class="time">晚上8:10</div>
            </div>
            <div class="flex">
              <div class="preview">奋斗一年~</div>
              <div class="setting">
                <img src="/data/littleChat/noeSound-icon.png">
              </div>
            </div>
          </div>
        </div>
        <div class="chat flex redNum" click="#Chat/Window" press="#Main/Index?viewPopUp=PressMenu">
          <div class="right">
            <div class="small-notification"></div>
            <div class="num-notification">12</div>
            <div class="icon"></div>
          </div>
          <div class="left">
            <div class="flex">
              <div class="name">蓝精灵</div>
              <div class="time">晚上8:10</div>
            </div>
            <div class="flex">
              <div class="preview">奋斗一年~</div>
              <div class="setting"></div>
            </div>
          </div>
        </div>
      </div></li>
      <li class="contactList"><div>
        <!--((div.item.flex>div.icon+div.name{蓝精灵})*5+div.segment.item{$A})*4-->
        <div class="item flex" click="#Friend/New">
          <div class="icon"><img src="/data/littleChat/chat-newFriend-icon.png" alt=""></div>
          <div class="name">新的朋友</div>
        </div>
        <div class="item flex" click="#Group/List">
          <div class="icon"><img src="/data/littleChat/chat-groupchat-icon.png" alt=""></div>
          <div class="name">群聊</div>
        </div>
        <div class="item flex" click="#Group/Tag">
          <div class="icon"><img src="/data/littleChat/chat-tag-icon.png" alt=""></div>
          <div class="name">标签</div>
        </div>
        <div class="item flex" click="#Group/OfficalAccount">
          <div class="icon"><img src="/data/littleChat/chat-offical-accounts-icon.png" alt=""></div>
          <div class="name">公众号</div>
        </div>
        <div class="segment item" value="A">A</div>
        <div class="item flex" click="#Friend/About">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex" click="#Friend/About">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex" click="#Friend/About">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="segment item" value="B">B</div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="segment item" value="C">C</div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="segment item" value="D">D</div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="segment item" value="E">E</div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="segment item" value="F">F</div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="segment item" value="G">G</div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="item flex">
          <div class="icon"></div>
          <div class="name">蓝精灵</div>
        </div>
        <div class="totalContact">162位联系人</div>
      </div></li>
      <li class="addonList"><div>
        <!--(div.segment.item+(div.item.flex>div.icon+div.name+div.big-notification)*2)*3-->
        <div class="segment item"></div>
        <div class="item flex" click="#Moment/Index">
          <div class="icon"><img src="/data/littleChat/discover-moment-icon.png"></div>
          <div class="name">朋友圈</div>
          <div class="big-notification"></div>
        </div>
        <div class="segment item"></div>
        <div class="item flex">
          <div class="icon"><img src="/data/littleChat/discover-scan-qr-icon.png"></div>
          <div class="name">扫一扫</div>
          <div class="big-notification"></div>
        </div>
        <div class="segment item"></div>
        <div class="item flex">
          <div class="icon"><img src="/data/littleChat/discover-game-icon.png"></div>
          <div class="name">游戏</div>
          <div class="big-notification"></div>
        </div>
        <div class="segment item"></div>
        <div class="item flex">
          <div class="icon"><img src="/data/littleChat/discover-app-icon.png"></div>
          <div class="name">小程序</div>
          <div class="big-notification"></div>
        </div>
        <div class="segment item"></div>
      </div></li>
      <li class="myList"><div>
        <!--div.segment.item+div.big-item.flex>div.icon+div.center>div.name{DeepKolos}+div.id-num{微信号: deepkolos}^div.qrcode-->
        <div class="segment item"></div>
        <div class="big-item flex" click="#Setting/Me">
          <div class="icon">
            <img src="/data/littleChat/deepkolos-portrait.jpg" alt="">
          </div>
          <div class="center">
            <div class="name">DeepKolos</div>
            <div class="id-num">微信号: deepkolos</div>
          </div>
          <div class="qrcode" click="#Maim/Index?viewPopUp=QrCode">
            <img src="/data/littleChat/me-qr-icon.png" alt="">
          </div>
        </div>

        <!--(div.segment.item+(div.item.flex>div.icon+div.name+div.big-notification)*2)*3-->
        <div class="segment item"></div>
        <div class="item flex" click="#Wallet/Index">
          <div class="icon"><img src="/data/littleChat/me-wallet-icon.png" alt=""></div>
          <div class="name">钱包</div>
          <div class="big-notification"></div>
        </div>
        <div class="segment item"></div>
        <div class="item flex" click="#Collection/List">
          <div class="icon"><img src="/data/littleChat/me-collection-icon.png" alt=""></div>
          <div class="name">收藏</div>
          <div class="big-notification"></div>
        </div>
        <div class="item flex" click="#Moment/PhotoAlbum">
          <div class="icon"><img src="/data/littleChat/me-photo-icon.png" alt=""></div>
          <div class="name">相册</div>
          <div class="big-notification"></div>
        </div>
        <div class="item flex" click="#Wallet/CardBag">
          <div class="icon"><img src="/data/littleChat/me-card-icon.png" alt=""></div>
          <div class="name">卡包</div>
          <div class="big-notification"></div>
        </div>
        <div class="item flex" click="#Emoji/Index">
          <div class="icon"><img src="/data/littleChat/me-emoji-icon.png" alt=""></div>
          <div class="name">表情</div>
          <div class="big-notification"></div>
        </div>
        <div class="segment item"></div>
        <div class="item flex" click="#Setting/Setting">
          <div class="icon"><img src="/data/littleChat/me-setting-icon.png" alt=""></div>
          <div class="name">设置</div>
          <div class="big-notification"></div>
        </div>
        <div class="segment item"></div>
      </div></li>
    </ul>
  </div>

  <div class="scrollBar flex" style="display:none;" onselectstart="window.event.returnValue=false" oncontextmenu="window.event.returnValue=false" ondragstart="window.event.returnValue=false">
    <div>↑</div>
    <div>☆</div>
    <div>A</div>
    <div>B</div>
    <div>C</div>
    <div>D</div>
    <div>E</div>
    <div>F</div>
    <div>G</div>
    <div>H</div>
    <div>I</div>
    <div>J</div>
    <div>K</div>
    <div>L</div>
    <div>M</div>
    <div>N</div>
    <div>O</div>
    <div>P</div>
    <div>Q</div>
    <div>R</div>
    <div>S</div>
    <div>T</div>
    <div>U</div>
    <div>V</div>
    <div>W</div>
    <div>X</div>
    <div>Y</div>
    <div>Z</div>
    <div>#</div>
    <span class="showing-letter"></span>
  </div>

  <div class="footer flex"></div>
</div>