.descriptionForForm {
    height: 50px;
    /*background: lightpink;*/
    line-height: 50px;
    font-size: 20px;
    padding: 0 5px;
    clear: both;
    text-align: center;
    padding-top: 10px;
}

.inputText {
    margin: 10px 0;
    padding: 2px 7%;
}

.inputText>div {
    font-size: 19px;
    border-left:5.5px solid #0072c6;
    padding-left:6px;
    margin-bottom: 6px;
    color: #14486f;
}

.inputText>input {
    width: 100%;
    border: none;
    font-size: 19px;
    border-bottom: 2px solid #d0d0d0;
    padding: 2px 0px;
}

.table > div {
    height: 12px;
    line-height: 12px;
    padding: 20px;
    width: 88%;
    margin: 0 auto;
    font-size: 18px;
    border-bottom: 1px solid #dcdcdc;
}

.table > div > div {
    display: inline-block;
}

.table > div > span {
    float: right;
}

.selfie {
    width: 85%;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 6px;
    box-shadow: 0px 0px 7px 0px #003a65;
}