<div class="topBar flex">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">关于微信</span>
    <div class="setting"></div>
  </div>
  <div class="info"></div>
</div>

<div class="main">

  <div style="padding:29px;text-align:center;">
    <img src="/data/littleChat/wechat.icon.png" alt="" style="display:inline-block;height:63px;width: auto;">
    <p style="color:#8F8F8F;font-size:16px;">微信 6.5.8 Copy By DeepKolos</p>
  </div>
  <div class="item flex">
    <div class="name">功能介绍</div>
  </div>
  <div class="item flex">
    <div class="name">投诉</div>
  </div>
  <div class="item flex">
    <div class="name">检查新版本</div>
  </div>
  <div class="item segment"></div>
  <p style="font-size:14px;text-align:center;margin-bottom:4px;">
    <a href="https://weixin.qq.com/agreement?lang=zh_CN">《腾讯微信软件许可及服务协议》</a>和<a href="http://www.qq.com/privacy.htm">《腾讯隐私政策》</a>
  </p>
  <p style="text-align:center;font-size:11px;color:#989898;">
    腾讯公司 版权所有<br>
    Copyright © 2011-2017 Tencent.<br>
    All Right Reserved.<br>
  </p>
</div>