<div class="topBar flex">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">蓝精灵</span>
    <div class="setting"></div>
  </div>
  <div class="info"></div>
</div>

<div class="main">
  <!--div.item.segment+div.item.chatMember+div.item.segment+div.item*2+div.segment-->
  <div class="item segment"></div>
  <div class="item segment">可以通过一下方式搜索到我</div>
  <div class="item flex">
    <div class="name">微信号</div>
    <div class="switcher"></div>
  </div>
  <div class="item flex">
    <div class="name">手机号</div>
    <div class="switcher"></div>
  </div>
  <div class="item flex">
    <div class="name">QQ号</div>
    <div class="switcher"></div>
  </div>
  <div class="item segment" style="text-align:center;">关闭后, 其他用户将不能通过上述信息找到你.</div>
  <div class="item segment"></div>
  <div class="item segment">可通过一下方式添加我为好友</div>
  <div class="item flex">
    <div class="name">群聊</div>
    <div class="switcher"></div>
  </div>
  <div class="item flex">
    <div class="name">二维码</div>
    <div class="switcher"></div>
  </div>
  <div class="item flex">
    <div class="name">名片</div>
    <div class="switcher"></div>
  </div>
  <div class="item segment"></div>
</div>