<div class="topBar flex">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">聊天</span>
    <div class="setting"></div>
  </div>
  <div class="info"></div>
</div>

<div class="main">
  <div class="segment item"></div>
  <div class="item flex">
    <div class="name">使用听筒播放语音</div>
    <div class="switcher"></div>
  </div>
  <div class="item flex">
    <div class="name">回车键发送消息</div>
    <div class="switcher"></div>
  </div>
  <div class="item flex" click="#Setting/ChatBackground">
    <div class="name">聊天背景</div>
  </div>
  <div class="item flex" click="#Setting/Emoji">
    <div class="name">表情管理</div>
  </div>
  <div class="segment item"></div>
  <div class="segment item">聊天记录</div>
  <div class="item flex" click="#Setting/ChatHistoryMigration">
    <div class="name">聊天记录迁移</div>
  </div>
  <div class="item flex">
    <div class="name">清空聊天记录</div>
  </div>
  <div class="segment item"></div>
  <div class="segment item"></div>
</div>