<div class="topBar flex">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">蓝精灵</span>
    <div class="setting"></div>
  </div>
  <div class="info"></div>
</div>

<div class="main">
  <div class="item segment"></div>
  <div class="item flex">
    <div class="name">开启横屏模式</div>
    <div class="switcher"></div>
  </div>
  <div class="item flex">
    <div class="name">自动下载微信安装包</div>
    <div class="currentValue">仅Wi-Fi网络</div>
  </div>
  <div class="item flex" click="#Setting/Language">
    <div class="name">多语言</div>
    <div class="currentValue">跟随系统</div>
  </div>
  <div class="item flex" click="#Setting/FontSize">
    <div class="name">字体大小</div>
  </div>
  <div class="item flex" click="#Setting/PhotoAndVideo">
    <div class="name">照片和视频</div>
  </div>
  <div class="item flex" click="#Setting/Addons">
    <div class="name">功能</div>
  </div>
  <div class="item flex">
    <div class="name">流量统计</div>
  </div>
  <div class="item flex">
    <div class="name">清理微信储存空间</div>
  </div>
  <div class="item segment"></div>
</div>