<div class="topBar flex">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">蓝精灵</span>
    <div class="setting"></div>
  </div>
  <div class="info"></div>
</div>

<div class="main">
  <!--div.item.segment+div.item.chatMember+div.item.segment+div.item*2+div.segment-->
  <div class="item segment"></div>
  <div class="item chatMembers">
    <div class="member">
      <div class="icon"></div>
      <div class="name">蓝精灵</div>
    </div>
    <div class="member">
      <div class="icon"></div>
      <div class="name">+</div>
    </div>
  </div>
  <div class="item segment"></div>
  <div class="item flex">
    <div class="name">查找聊天记录</div>
  </div>
  <div class="item flex">
    <div class="name">设置当前聊天背景</div>
  </div>
  <div class="item segment"></div>
</div>