<div class="topBar flex">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">勿打扰模式</span>
    <div class="setting"></div>
  </div>
  <div class="info"></div>
</div>

<div class="main">
  <div class="segment item"></div>
  <div class="item heightauto">
    <div class="flex">
      <div class="name">勿扰模式</div>
      <div class="switcher"></div>
    </div>
    <div class="description">开启之后, 在设定时间段内收到新消息时不会响铃或震动.</div>
  </div>
  <div class="item flex">
    <div class="name">开始时间</div>
    <div class="currentValue">晚上11:00</div>
  </div>
  <div class="item flex">
    <div class="name">结束时间</div>
    <div class="currentValue">早上08:00</div>
  </div>
  <div class="segment item"></div>
</div>