<div class="topBar flex">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">实验室</span>
    <div class="setting"></div>
  </div>
  <div class="info"></div>
</div>

<div class="main">
  <div class="flex" style="padding: 33px 0px;justify-content:center;">
    <div class="bulb" style="width:33px;height:41px;margin-right:23px;flex:0 0 33px;">
      <img src="/data/littleChat/bulb.icon.png" alt="" width="100%">
    </div>
    <div class="description" style="width:263px;">
      <h3 class="title" style="margin-bottom:9px;">欢迎体验微信实验室</h3>
      <h8 class="description">在这里有微信正在探索的功能, 你可以打开来体验, 实验可能随时结束, 请勿过于依赖.</h8>
    </div>
  </div>
  <div class="description" style="margin:0 0 9px 9px;">可参与的实验</div>
  <div class="labCard">
    <p class="title">看一看</p>
    <p class="description">发现热点资讯和你感兴趣的内容</p>
    <img src="/data/littleChat/kan-lab-icon.png" alt="">
  </div>
  <div class="labCard">
    <p class="title">搜一搜</p>
    <p class="description">在"发现"-"搜一搜"中, 搜索更多内容</p>
    <img src="/data/littleChat/sou-lab-icon.png" alt="">
  </div>
  <div style="padding:15px 0 10px 0;text-align:center;">
    <p class="description">使用微信实验室, 即表示你同意</p>
    <a href="https://weixin.qq.com/cgi-bin/readtemplate?t=weixin_agreement&s=lab&lang=zh_CN">《微信实验室使用须知》</a>
  </div>
</div>