<div class="topBar flex">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">个人信息</span>
    <div class="setting"></div>
  </div>
  <div class="info"></div>
</div>

<div class="main">
  <div class="segment item"></div>
  <div class="item big-icon-height">
    <div class="flex">
      <div class="name">头像</div>
      <img src="/data/littleChat/deepkolos-portrait.jpg" class="big-icon">
    </div>
  </div>
  <div class="item flex">
    <div class="name">昵称</div>
    <div class="currentValue">DeepKolos</div>
  </div>
  <div class="item flex">
    <div class="name">微信号</div>
    <div class="currentValue">deep-kolos</div>
  </div>
  <div class="item flex" click="#Setting/MyCard">
    <div class="name">二维码名片</div>
    <div class="currentValue"><i></i></div>
  </div>
  <div class="item flex">
    <div class="name">我的地址</div>
  </div>
  <div class="segment item"></div>
  <div class="item flex">
    <div class="name">性别</div>
    <div class="currentValue">男</div>
  </div>
  <div class="item flex">
    <div class="name">地区</div>
    <div class="currentValue">广东 广州</div>
  </div>
  <div class="item flex">
    <div class="name">个性签名</div>
    <div class="currentValue">乐观 自信 爱</div>
  </div>
  <div class="segment item"></div>
  <div class="segment item"></div>
</div>