<div class="topBar flex">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">聊天</span>
    <div class="setting"></div>
  </div>
  <div class="btnMenu" click="&viewPopUp=BottomMenu"></div>
</div>

<div class="main">
  <div style="padding:26px 26px;background:white;border-radius:3px;min-height:calc(100vh - 45px - 26px*2);">
      <div class="flex" style="align-items:center;">
        <img src="/data/littleChat/deepkolos-portrait.jpg" style="flex:0 0 57.5px;height:57.5px;width:57.5px">
        <div class="flex" style="padding-left:11px;width:auto;height:57.5px;flex:auto;align-items: center;">
          <div style="flex:auto;">
            <div style="font-size:17px;">
              <span>DeepKolos</span>
              <img src="/data/littleChat/man-icon.png" alt="" class="icon" style="width:16.5px;height:18.5px;position:relative;top:2px;"/>
            </div>
            <div class="description">广东 广州</div>
          </div>
        </div>
      </div>
      <img width="142px" height="142px" style="padding:20px;display:block;margin:0 auto;" src="/data/littleChat/deepkolos-qrcode.png" alt=""/>
      <p class="description" style="text-align:center;">扫描上面的二维码图案, 加我微信</p>
    </div>
</div>