<div class="topBar flex">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">隐私</span>
    <div class="setting"></div>
  </div>
  <div class="info"></div>
</div>

<div class="main">
  <div class="item segment"></div>
  <div class="item segment">通讯录</div>
  <div class="item flex">
    <div class="name">加我为朋友时需要验证</div>
    <div class="switcher"></div>
  </div>
  <div class="item heightauto">
    <div class="flex">
      <div class="name">向我推荐通讯录好友</div>
      <div class="switcher"></div>
    </div>
    <div class="description">开启后, 为你推荐已经开通微信的手机联系人.</div>
  </div>
  <div class="item flex" click="#Setting/AddMeBy">
    <div class="name">添加我的方式</div>
  </div>
  <div class="item flex">
    <div class="name">通讯录黑名单</div>
  </div>
  <div class="item segment"></div>
  <div class="item segment">朋友圈</div>
  <div class="item flex">
    <div class="name">不让他(她)看我朋友圈</div>
  </div>
  <div class="item flex">
    <div class="name">不看他(她)的朋友圈</div>
  </div>
  <div class="item flex">
    <div class="name">允许陌生人查看十张照片</div>
    <div class="switcher"></div>
  </div>
  <div class="item flex">
    <div class="name">允许朋友查看朋友圈的范围</div>
    <div class="currentValue">全部</div>
  </div>
  <div class="item heightauto">
    <div class="flex">
      <div class="name">开启朋友圈入口</div>
      <div class="switcher"></div>
    </div>
    <div class="description">关闭后, 将隐藏"发现"中的朋友圈入口, 你发过的朋友圈不会清空, 朋友仍可以看到.</div>
  </div>
  <div class="item heightauto">
    <div class="flex">
      <div class="name">朋友圈更新提醒</div>
      <div class="switcher"></div>
    </div>
    <div class="description">关闭后, 有朋友更新照片时, 界面下方的"发现"切换上不再出现红点.</div>
  </div>
  <div class="item segment"></div>
  <div class="item segment"></div>
</div>