<div class="topBar flex">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">蓝精灵</span>
    <div class="setting"></div>
  </div>
  <div class="info"></div>
</div>

<div class="main">
  <!--div.item.segment+div.item.chatMember+div.item.segment+div.item*2+div.segment-->
  <div class="item segment"></div>
  <div class="item segment">账号</div>
  <div class="item flex">
    <div class="name">微信号</div>
    <div class="currentValue">deep-kolos</div>
  </div>
  <div class="item flex">
    <div class="name">QQ号</div>
    <div class="currentValue">1206521365</div>
  </div>
  <div class="item flex">
    <div class="name">手机号</div>
    <div class="currentValue">183******08</div>
  </div>
  <div class="item flex">
    <div class="name">邮件地址</div>
    <div class="currentValue">已验证</div>
  </div>
  <div class="item segment"></div>
  <div class="item segment">安全</div>
  <div class="item flex">
    <div class="name">声音锁</div>
  </div>
  <div class="item flex">
    <div class="name">微信密码</div>
  </div>
  <div class="item flex">
    <div class="name">账号保护</div>
    <div class="currentValue"><i></i>已保护</div>
  </div>
  <div class="item flex">
    <div class="name">应急联系人</div>
  </div>
  <div class="item flex">
    <div class="name">手机安全防护</div>
    <div class="currentValue">未启用</div>
  </div>
  <div class="item heightauto" click="#Setting/SecurityCenter">
    <div class="flex">
      <div class="name">微信安全中心</div>
    </div>
    <div class="description">如果你的微信被盗, 无法登陆等问题, 可以前往安全中心</div>
  </div>
  <div class="item segment"></div>
</div>