<div class="topBar flex">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">设置</span>
    <div class="setting"></div>
  </div>
  <div class="info"></div>
</div>

<div class="main">
  <div class="segment item"></div>
  <div class="item flex" click="#Setting/Notification">
    <div class="name">新消息提醒</div>
    <div class="big-notification"></div>
  </div>
  <div class="item flex" click="#Setting/DoNotDistrub">
    <div class="name">勿扰模式</div>
    <div class="big-notification"></div>
  </div>
  <div class="item flex" click="#Setting/Chat">
    <div class="name">聊天</div>
    <div class="big-notification"></div>
  </div>
  <div class="item flex" click="#Setting/Privacy">
    <div class="name">隐私</div>
    <div class="big-notification"></div>
  </div>
  <div class="item flex" click="#Setting/Common">
    <div class="name">通用</div>
    <div class="big-notification"></div>
  </div>
  <div class="item flex" click="#Setting/SecurityAndAccount">
    <div class="name">账号安全</div>
    <div class="big-notification"></div>
  </div>
  <div class="segment item"></div>
  <div class="item flex" click="#Setting/About">
    <div class="name">关于微信</div>
    <div class="big-notification"></div>
  </div>
  <div class="item flex" click="#Setting/Help">
    <div class="name">帮助与反馈</div>
    <div class="big-notification"></div>
  </div>
  <div class="segment item"></div>
  <div class="item flex" click="#Setting/Lab">
    <div class="name">实验室</div>
    <div class="big-notification"></div>
  </div>
  <div class="segment item"></div>
  <div class="item flex">
    <div class="name">退出</div>
    <div class="big-notification"></div>
  </div>
  <div class="segment item"></div>
  <div class="segment item"></div>
</div>