<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <title>
    <?php echo $config->name;?> - 惠大微报 - 惠州学院</title>
  <meta name="viewport" content="width=360,user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <!--dns缓存-->
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <link rel="dns-prefetch" href="//weibao.deepkolos.cn">
  <style>
    .noneAnimation,
    .subNoneAnimation * {
      transition: none!important;
      -webkit-transition: none!important;
      -o-transition: none!important;
      -moz-transition: none!important;
    }
    /*前期设计的坑..*/
    
    .fix {
      margin-top: 50px;
    }

    body{
      font-weight: 300;
    }
    
  </style>
</head>

<body>
  <!--css loader-->
  <div id="_cssContainer_" style="display: none">
    <div class="_frame_">
      <link href="css/basic.css" rel='stylesheet' type='text/css'>
      <link href="css/frame.css" rel='stylesheet' type='text/css'>
      <link href="css/animation.css" rel='stylesheet' type='text/css'>
    </div>
    <div class="_module_"></div>
    <div class="_custom_"></div>
    <div class="_controller_"></div>
    <div class="_action_"></div>
  </div>
  <!--js loader-->
  <script src="frame/views/Frame.js" type="text/javascript"></script>
  <!--body start-->
  <div class="menu">
    <span><a href="#Home_/Apps"><i class="iconfont">&#xe610;</i></a></span>
    <span><?php echo $config->name;?></span>
    <ul>
      <li>
        <a href="#Home_/About">
          <i class="iconfont">&#xe611;</i><span><?= $statistics->useNum?></span></a>
      </li>
      <li>
        <a href="#Home_/Comment">
          <i class="iconfont">&#xe81f;</i><span><?= $commentNum?></span>
        </a>
      </li>
      <li>
        <a href="#Home_/Like?viewUpdate=true">
          <i class="iconfont">&#xe66c;</i><span><?= $statistics->likeNum?></span>
        </a>
      </li>
    </ul>
  </div>
  <div class="pageContainer fix subNoneAnimation" style="opacity: 0;">
    <div class="page" status="loaded">
      <?php echo $content; ?>
    </div>
  </div>
  <div class="popUpContainer off">
  </div>
</body>
<script type="text/javascript" src="https://tajs.qq.com/stats?sId=60429420" charset="UTF-8"></script>

</html>