<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>
        <?php echo $config->name;?>-惠大微报</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!--dns缓存-->
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//weibao.deepkolos.cn">
</head>

<body>
    <!--css loader-->
    <div id="_cssContainer_" style="display: none">
        <div class="_frame_">
            <link href="css/basic.css" rel='stylesheet' type='text/css'>
            <link href="css/frame.css" rel='stylesheet' type='text/css'>
            <link href="css/statistics.css" rel='stylesheet' type='text/css'>
        </div>
        <div class="_custom_">

        </div>
        <div class="_controller_">

        </div>
        <div class="_action_">

        </div>
    </div>
    <!--js loader-->
    <script src="frame/views/frame.js" type="text/javascript"></script>
    <!--body start-->
    <div id="mask-blur">
        <div class="baner">
            <span class="title"><img src='img/wa-1.png'><?php echo $config->name;?></span>
            <div class="logo"><span>微报</span><img id="contactMe" src='img/hello-3.png'></div>
        </div>
        <div class="module_body noneAnimation" style="opacity: 0;">
            <?php echo $content; ?>
        </div>
        <div class="statistics">
            <span class="bt_like">
                <img src="./img/unhearted.png" alt="">
                <span class="num_of_like">1107</span>
            </span>
            <span>
                <img src="./img/statistics.png" alt="">
                <span class="num_of_use">1107</span>
            </span>
        </div>
        <div class="me">
            @技术部
            <?php echo $config->author; ?><img src='img/wa-2.jpg'>
        </div>
    </div>
    <div id="mask"></div>
    <div id="report">
        <div class="bar">问题/建议反馈</div>
        <div id="rp_content" contenteditable="true">

        </div>
        <div id="rp_cancel">取消</div>
        <div id="rp_comfirm">确认</div>
    </div>
</body>
<!--<script type="text/javascript" src="http://tajs.qq.com/stats?sId=60429420" charset="UTF-8"></script>-->

</html>