<div class="topBar flex">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">群聊</span>
    <div class="setting flex">
    </div>
  </div>
  <div class="info" click="&viewStatus=Search">
    <img src="/data/littleChat/search-normal-icon.png" alt="">
  </div>
  <div class="info" click="#Group/New">
    <img src="/data/littleChat/plus-normal-icon.png" alt="">
  </div>
</div>

<div class="main">
  <div class="segment item">群聊</div>
  <div class="item flex" click="#Friend/About">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
  </div>
  <div class="item flex" click="#Friend/About">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
  </div>
  <div class="item flex" click="#Friend/About">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
  </div>
  <div class="item flex" click="#Friend/About">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
  </div>
  <div class="item flex" click="#Friend/About">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
  </div>
  <div class="totalContact">16个群聊</div>
</div>