<div class="topBar flex">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">发起群聊</span>
    <div class="setting flex">
    </div>
  </div>
  <div class="btn done on">完成</div>
</div>

<div class="main">
  <div class="item flex" style="height: calc(173px/3);">
    <div class="name"></div>
  </div>
  <div class="item flex" click="#Friend/New">
    <div class="name">选择一个群</div>
  </div>
  <div class="item flex" click="#Group/List">
    <div class="name">面对面建群</div>
  </div>
  <div class="segment item" value="A">A</div>
  <div class="item flex" click="#Friend/About">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox on"></div>
  </div>
  <div class="item flex" click="#Friend/About">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox on"></div>
  </div>
  <div class="item flex" click="#Friend/About">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="segment item" value="B">B</div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="segment item" value="C">C</div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="segment item" value="D">D</div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="segment item" value="E">E</div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="segment item" value="F">F</div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="segment item" value="G">G</div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
  <div class="item flex">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
    <div class="checkbox"></div>
  </div>
</div>

<div class="searchBar scrolled">
   <div class="inputContainer">
     <div class="search-icon"></div>
     <input type="text" placeholder="搜索">
   </div>
</div>

<div class="scrollBar flex" onselectstart="window.event.returnValue=false" oncontextmenu="window.event.returnValue=false"
  ondragstart="window.event.returnValue=false">
  <div>↑</div>
  <div>☆</div>
  <div>A</div>
  <div>B</div>
  <div>C</div>
  <div>D</div>
  <div>E</div>
  <div>F</div>
  <div>G</div>
  <div>H</div>
  <div>I</div>
  <div>J</div>
  <div>K</div>
  <div>L</div>
  <div>M</div>
  <div>N</div>
  <div>O</div>
  <div>P</div>
  <div>Q</div>
  <div>R</div>
  <div>S</div>
  <div>T</div>
  <div>U</div>
  <div>V</div>
  <div>W</div>
  <div>X</div>
  <div>Y</div>
  <div>Z</div>
  <div>#</div>
  <span class="showing-letter"></span>
</div>