<div class="topBar flex">
  <div class="back" click="#back">
    
  </div>
  <div class="center flex">
    <span class="name">公众号</span>
    <div class="setting flex">
    </div>
  </div>
  <div class="info" click="&viewPopUp=Search">
    <img src="/data/littleChat/search-normal-icon.png" alt="">
  </div>
  <div class="info" click="#Group/OfficalAccountSearch">
    <img src="/data/littleChat/plus-normal-icon.png" alt="">
  </div>
</div>

<div class="main">
  <div class="segment item" value="L">L</div>
  <div class="item flex middle" click="#Friend/About">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
  </div>
  <div class="item flex middle" click="#Friend/About">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
  </div>
  <div class="item flex middle" click="#Friend/About">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
  </div>
  <div class="item flex middle" click="#Friend/About">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
  </div>
  <div class="item flex middle" click="#Friend/About">
    <div class="icon"></div>
    <div class="name">蓝精灵</div>
  </div>
  <div class="totalContact">113公众号</div>
</div>

<div class="scrollBar flex" onselectstart="window.event.returnValue=false" oncontextmenu="window.event.returnValue=false"
  ondragstart="window.event.returnValue=false">
  <div>A</div>
  <div>B</div>
  <div>C</div>
  <div>D</div>
  <div>E</div>
  <div>F</div>
  <div>G</div>
  <div>H</div>
  <div>I</div>
  <div>J</div>
  <div>K</div>
  <div>L</div>
  <div>M</div>
  <div>N</div>
  <div>O</div>
  <div>P</div>
  <div>Q</div>
  <div>R</div>
  <div>S</div>
  <div>T</div>
  <div>U</div>
  <div>V</div>
  <div>W</div>
  <div>X</div>
  <div>Y</div>
  <div>Z</div>
  <div>#</div>
  <span class="showing-letter"></span>
</div>