<div class="topBar flex">
  <div class="back" click="#back">
    
  </div>
  <div class="center flex">
    <span class="name">所有标签</span>
    <div class="setting flex">
    </div>
  </div>
  <div class="btn" click="#Group/SelectContact">
    新建
  </div>
</div>

<div class="main">
  <div class="item flex" click="#Group/TagEdit">
    <div class="name">蓝精灵</div>
  </div>
  <div class="item flex" click="#Group/TagEdit">
    <div class="name">蓝精灵</div>
  </div>
  <div class="item flex" click="#Group/TagEdit">
    <div class="name">蓝精灵</div>
  </div>
  <div class="item flex" click="#Group/TagEdit">
    <div class="name">蓝精灵</div>
  </div>
  <div class="item flex" click="#Group/TagEdit">
    <div class="name">蓝精灵</div>
  </div>
</div>