<div class="topBar flex">
  <div class="back" click="#back">
    
  </div>
  <div class="center flex">
    <span class="name">编辑标签</span>
    <div class="setting flex">
    </div>
  </div>
  <div class="btn done on">保存</div>
</div>

<div class="main">
  <div class="item segment"></div>
  <div class="item segment">标签名字</div>
  <div class="item flex">
    <div class="inputText">
      <input type="text" placeholder="例如家人、朋友">
      <span class="btnEmpty"></span>
    </div>
  </div>
  <div class="item segment"></div>
  <div class="item segment">成员</div>
  <div class="item flex chatMembers">
    <div class="member">
      <div class="icon"></div>
      <div class="name">蓝精灵</div>
    </div>
    <div class="member">
      <div class="icon"></div>
      <div class="name">DeepKolos</div>
    </div>
    <div class="member">
      <div class="icon"></div>
      <div class="name">蓝精灵</div>
    </div>
    <div class="member">
      <div class="icon"></div>
      <div class="name">DeepKolos</div>
    </div>
    <div class="member">
      <div class="icon"></div>
      <div class="name">蓝精灵</div>
    </div>
    <div class="member">
      <div class="icon"></div>
      <div class="name">DeepKolos</div>
    </div>
  </div>
  <div class="item segment"></div>
  <div class="item segment"></div>
  <div class="btnOneLine btnRed">视频聊天</div>
</div>