.inputContainer{
    display: flex;
    padding: 20px 15px;
}

.btnContainer{
    display: flex;
    flex: 0 0 auto;
    border-radius: 5px;
    overflow: hidden;
}

.btnContainer > a{
    padding: 6px 12px;
    background: #0072c6;
    color: white;
    font-size: 17px;
}

.btnContainer > a:not(:last-child){
    border-right: 1px solid #4f90b8;;
}

.inputKeyword {
    padding: 4.5px 5px;
    width: 100%;
    font-size: 17px;
    outline: none;
    border: 1.5px solid #0072c6;
    border-radius: 5px;
    margin-right: 10px;
}

.display_result {
    display: block;
    margin: 0 2.3%;
}

.display_result li {
    padding: 5px;
    font-size: 22px;
    margin-bottom: 5px;
    will-change: transform;
}

.display_result li a {
    color: #14486f;
}

.display_result li:before {
    content: '';
    width: 5px;
    height: 16px;
    margin-top: 8px;
    margin-left: -12px;
    display: block;
    position: absolute;
    background: #0072c6;
}

.display_result table {
    margin: 0 auto;
    width: 100%;
    position: relative;
    top: 20px;
    margin-bottom: 40px;
}

.display_result table tr {
    transition: all 0.34s ease 0s!important;
    will-change: transform;
}

.display_result table tr td:first-child {
    max-width: 65px;
}

.display_result table tr td:nth-of-type(2) {
    max-width: 70px;
}

.display_result td {
    padding: 3px;
}

.messageEmpty {
    margin: 0 7%;
    text-align: center;
    margin-top: 20px;
}

.display_result .btnOneLine {
    position: absolute;
}

.possible_options{
    margin-left: 18px;
}

.display_result .updateLog {
    width: 66%;
    padding: 30px;
    margin: 0 auto;
    text-align: center;
}

.updateLog span {
    font-size: 19px;
    color: #638196;
    padding: 2px 8px;
    display: inline-block;
    margin-bottom: 10px;
    border-bottom: 2px solid #dedede;
}