<div class="inputContainer">
  <input class="inputKeyword" type="text" value="" placeholder="课程or老师">
  <div class="btnContainer">
    <a href="#Home/MatchList?viewUpdate=true&type=class">课程</a>
    <a href="#Home/MatchList?viewUpdate=true&type=teacher">老师</a>
  </div>
</div>
<ul class="display_result">
  <!--<a href="#Home/CourseDetial?id="><li>数据库技术与应用</li></a>
  <a href="#Home/CourseDetial?id="><li>数据库系统概论</li></a>
  <a href="#Home/CourseDetial?id="><li>数据结构</li></a>-->
  <div class="updateLog">
    <span><?= $lastUpdateTime?> 更新</span>
  </div>
</ul>