<div style="height:1px;"></div>
<a href="#Home/MatchList?viewUpdate=true">
  <div class="btnEmbedRight">搜索</div>
</a>
<div class="inputKeyword">
  <input type="text" value="" placeholder="格式: 18软件工程1班">
</div>
<div class="container">
  <div class="display_result">
    <table border="1">
      <tr>
        <th colspan="2">微报</th>
        <th>星期一</th>
        <th>星期二</th>
        <th>星期三</th>
        <th>星期四</th>
        <th>星期五</th>
        <th>星期六</th>
        <th>星期日</th>
      </tr>
      <tr>
        <th rowspan="2">上午</th>
        <td>一</td>
        <td>如果查询为空的话</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>二</td>
        <td>点击左上角菜单</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th rowspan="2">下午</th>
        <td>三</td>
        <td>选择`我的课表`</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>四</td>
        <td>因为服务器的sqlmode自动被重置了</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th rowspan="3">晚上</th>
        <td>五</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>六</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>