<div style="height:1px;"></div>
<div class="display_result">
    <div class='descriptionForForm'>
        <b>惠州学院2017录取查询</b><br>
        <span>填写其中一个即可<span>
    </div>
    <div class="inputText">
        <div>类型</div>
        <select id="type">
          <option value="1">普通高考录取</option>
          <option value="2">艺术类专业校考成绩</option>
        </select>
    </div>
    <div class="inputText">
        <div>准考证 (广东考生:1744考号)</div>
        <input id='studentId' type="text" name="studentId" value="">
    </div>
    <div class="inputText">
        <div>身份证</div>
        <input id='cardId' type="text" name="cardId" value="">
    </div>
</div>
<a href="#Home/Query"><div class="btnOneLine">查询</div></a>