.page {
    text-align: center;
}

#avatar_upload{
    display: none;
}

#avatar_edit{
    margin-top: 20px;
    width:250px;
    height:250px;
    position: relative;
    display: inline-block;
    z-index: 100!important;
}

#avatar_orignal{
    width:250px;
    height:250px;
    position: absolute;
    display: inline-block;
    margin:0 auto;
    z-index: -100!important;
    margin-top: 20px;
    box-shadow: 0 0 10px 0px #cfcfcf;
}


/*.ctrl_bar{
    width:100%;
    display: none;
    height:30px;
    background: lightgreen;
}

.ctrl_bar > span {
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin:2px 2px;
}*/

.changeImg {
    border-top:1px solid #e2e2e2;
    border-bottom:1px solid #e2e2e2;
    height:50px;
    width:100%;
    margin-top: 5px;
    overflow-x: scroll;
    margin-bottom: 5px;
}
.changeImg ul{
    width:3000px;
}
.changeImg li{
    display: block;
    float: left;
    width:40px;
    height:40px;
    margin:2px;
    line-height: 40px;
}
.changeImg li img{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    margin: 0 auto;
}

#output{
    position: fixed;
    z-index: -10;
    width:64%;
    left:18%;
    top:27%;
    opacity: 0;
    color:white;
    display: none;
    text-align: center;
    font-size: 18px;
}
#output *{
    display: inline-block;
}

#output span{
    background: rgba(0, 0, 0, 0.3);
    padding:3px;
}

.bt_generate{
    width:115px;
    height:32px;
    border-radius: 32px;
    display: inline-block;
    overflow: hidden;
    border: 1px solid black;
    margin:10px 10px;
    line-height: 32px;
    margin-top: 10px;
}

.newAvatar{
    width:250px;
    margin-top:30px;
    box-shadow: 0 0 10px 0px #cfcfcf;
}

.btnOneLineContainer {
    text-align: center;
    padding: 0 3.5%;
}
.btnOneLineContainer > div {
    width: 50%;
    display: inline-block;
}