.selected {
  background: #0072C6;
  color: white!important;
}

.select_wd {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  padding: 0 5px;
  clear: both;
  text-align: center;
  border-bottom: 1px solid #d2d2d2;
}

.select_wd>span {
  display: block;
  float: left;
}

.select_wd>div {
  margin-top: 7.5px;
  height: 35px;
  width: 10%;
  margin-left: 2%;
  text-align: center;
  line-height: 35px;
  float: left;
}

.select_l {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  padding: 0 5px;
  border-bottom: 1px solid #d2d2d2;
}

.select_l select {
  height: 30px;
  top: -3px;
  position: relative;
  display: inline-block;
}

.select_l>div:nth-child(1) {
  float: left;
  margin-right: 9px;
}

.select_l>div:nth-child(2) {
  text-align: center;
}

.select_bd {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  padding: 0 5px;
  border-bottom: 1px solid #d2d2d2;
}

.select_bd>span {
  display: block;
  float: left;
}

.select_bd>span::nth-child(2) {
  float: right;
}

.select_bd>div {
  text-align: center;
}

.select_bd>div>div {
  margin-top: 7.5px;
  height: 35px;
  width: 9.5%;
  margin-left: 0.3%;
  text-align: center;
  line-height: 35px;
  display: inline-block;
}

.column {
  min-height: 0px;
  padding: 0;
  text-align: left;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.column:last-child {
  margin-right: 0;
}

.column>div {
  width: calc(100vw/3);
  font-size: 20px;
  margin-bottom: 5px;
  display: block;
  text-align: center;
  flex: 0 0 calc(100vw/3);
}

.buttom_submit {
  height: 60px;
  width: 100%;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  background: #0072C6;
  border-top: 1px solid #0072C6;
  color: #fafafa;
}

.buttom_submit i {
  margin-right: 5px;
  font-size: 30px;
}

.buttom_submit>img {
  width: 45px;
  position: relative;
  top: 5px;
  margin-top: -5px;
}

.display_result {
  padding-top: 14px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  height: calc(100vh - 203px - 61px - 14px);
  overflow-y: auto;
}

.display_result * {
  transform: translate3d(0, 0, 0);
}

.updateLog {
  width: 66%;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
}

.updateLog span {
  font-size: 19px;
  color: #638196;
  padding: 2px 8px;
  display: inline-block;
  margin-bottom: 10px;
}

.updateLog p {
  color: #656565;
  text-align: left;
  font-size: 17px;
}