<div class="singleSelect select_wd">
    <span>星期</span>
    <div value='1'>一</div>
    <div value='2'>二</div>
    <div value='3'>三</div>
    <div value='4'>四</div>
    <div value='5'>五</div>
    <div value='6'>六</div>
    <div value='7'>日</div>
</div>
<div class="select_l">
    <div>第
        <select id='select_ls'>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>节到
        <select id="select_le">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
        </select>节
    </div>
    <div>
        <span id='ls_time'>8:00</span> ~ <span id='le_time'>9:35</span>
    </div>
</div>
<div class="singleSelect select_bd">
    <span>第</span>
    <div id='select_bd'>
        <div value='1'>1</div>
        <div value='2'>2</div>
        <div value='3'>3</div>
        <div value='5'>5</div>
        <div value='6'>6</div>
        <div value='7'>7</div>
        <span>号楼</span>
    </div>
</div>
<div class="display_result">
</div>

<div class="buttom_submit">
    <a href="#home/Query?multiClick=true">查询</a>
</div>