<div class="topBar flex">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">朋友圈</span>
    <div class="setting flex">
    </div>
  </div>
  <div class="btnCamera" click="&viewPopUp=TakePhotoMenu"></div>
</div>

<div class="main">
  <div class="slideContainer">
    <div class="cover">
      <div class="bg">
        <img src="/data/littleChat/deepkolos-portrait.jpg" alt="">
      </div>
      <div class="container">
        <div class="oneLine">
          <div class="name">蓝精灵</div>
          <div class="thumbnail">
            <img src="/data/littleChat/deepkolos-portrait.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="cardContainer">
      <div class="card">
        <div class="icon" press="&viewPopUp=PortraitPressMenu">
          
        </div>
        <div class="right">
          <div class="name">DeepKolos</div>
          <div class="content" press="&viewPopUp=TextPressMenu">
            <span>充满感情->漠然</span>
          </div>
          <div class="attachments single">
            <div click="&viewPopUp=ZoomPhoto" press="&viewPopUp=PhotoNoneZoomPressMenu">
              <img src="/data/littleChat/moment-sample/0.png" alt="">
            </div>
          </div>
          <div class="location">
            惠州学院
          </div>
          <div class="controllBar">
            <div class="left">
              <div class="time">7年前</div>
              <div class="fromApp">微信高仿</div>
              <div>
                <div class="limitIcon clearFloat"></div>
              </div>
              <div class="btnDel"  click="&viewPopUp=DeleteConfirmWindow">删除</div>
            </div>
            <div class="btnExpand"></div>
            <div class="expandContainer on">
              <div class="btnLike">赞
              </div>
              <div class="btnComment">评论
              </div>
            </div>
          </div>
          <div class="interaction">
            <div class="triangle"></div>
            <div class="likesContainer">
              蓝精灵
            </div>
            <div class="commentsContainer">
              蓝精灵: 放手吧<br>DeepKolos: 都没牵过手... 反正我都确定爱你一辈子了
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="icon">
          
        </div>
        <div class="right">
          <div class="name">DeepKolos</div>
          <div class="content">
            充满感情->漠然
          </div>
          <div class="attachments multiple">
            <div click="&viewPopUp=ZoomPhoto"><img src="/data/littleChat/moment-sample/0.png" alt=""></div>
            <div click="&viewPopUp=ZoomPhoto"><img src="/data/littleChat/moment-sample/0.png" alt=""></div>
          </div>
          <div class="location">
            惠州学院
          </div>
          <div class="controllBar">
            <div class="left">
              <div class="time">7年前</div>
              <div class="fromApp">微信高仿</div>
              <div>
                <div class="limitIcon clearFloat"></div>
              </div>
              <div class="btnDel" click="&viewPopUp=DeleteConfirmWindow">删除</div>
            </div>
            <div class="btnExpand">
              
            </div>
            <div class="expandContainer on">
              <div class="btnLike">
                <img src="/data/littleChat/controllBar-like-icon.png" alt=""> 赞
              </div>
              <div class="btnComment">
                <img src="/data/littleChat/controllBar-comment-icon.png" alt=""> 评论
              </div>
            </div>
          </div>
          <div class="interaction">
            <div class="triangle"></div>
            <div class="likesContainer">
              蓝精灵
            </div>
            <div class="commentsContainer">
              蓝精灵: 放手吧<br>DeepKolos: 都没牵过手... 反正我都确定爱你一辈子了
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="icon">
          
        </div>
        <div class="right">
          <div class="name">DeepKolos</div>
          <div class="content">
            充满感情->漠然
          </div>
          <div class="attachments multiple">
            <div><img src="/data/littleChat/moment-sample/0.png" alt=""></div>
            <div><img src="/data/littleChat/moment-sample/0.png" alt=""></div>
            <div><img src="/data/littleChat/moment-sample/0.png" alt=""></div>
          </div>
          <div class="location">
            惠州学院
          </div>
          <div class="controllBar">
            <div class="left">
              <div class="time">7年前</div>
              <div class="fromApp">微信高仿</div>
              <div>
                <div class="limitIcon clearFloat"></div>
              </div>
              <div class="btnDel">删除</div>
            </div>
            <div class="btnExpand">
              
            </div>
            <div class="expandContainer on">
              <div class="btnLike">
                <img src="/data/littleChat/controllBar-like-icon.png" alt=""> 赞
              </div>
              <div class="btnComment">
                <img src="/data/littleChat/controllBar-comment-icon.png" alt=""> 评论
              </div>
            </div>
          </div>
          <div class="interaction">
            <div class="triangle"></div>
            <div class="likesContainer">
              蓝精灵
            </div>
            <div class="commentsContainer">
              蓝精灵: 放手吧<br>DeepKolos: 都没牵过手... 反正我都确定爱你一辈子了
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="icon">
          
        </div>
        <div class="right">
          <div class="name">DeepKolos</div>
          <div class="content">
            充满感情->漠然
          </div>
          <div class="attachments multiple four">
            <div><img src="/data/littleChat/moment-sample/0.png" alt=""></div>
            <div><img src="/data/littleChat/moment-sample/0.png" alt=""></div>
            <div><img src="/data/littleChat/moment-sample/0.png" alt=""></div>
            <div><img src="/data/littleChat/moment-sample/0.png" alt=""></div>
          </div>
          <div class="location">
            惠州学院
          </div>
          <div class="controllBar">
            <div class="left">
              <div class="time">7年前</div>
              <div class="fromApp">微信高仿</div>
              <div>
                <div class="limitIcon clearFloat"></div>
              </div>
              <div class="btnDel">删除</div>
            </div>
            <div class="btnExpand">
              
            </div>
            <div class="expandContainer on">
              <div class="btnLike">
                <img src="/data/littleChat/controllBar-like-icon.png" alt=""> 赞
              </div>
              <div class="btnComment">
                <img src="/data/littleChat/controllBar-comment-icon.png" alt=""> 评论
              </div>
            </div>
          </div>
          <div class="interaction">
            <div class="triangle"></div>
            <div class="likesContainer">
              蓝精灵
            </div>
            <div class="commentsContainer">
              蓝精灵: 放手吧<br>DeepKolos: 都没牵过手... 反正我都确定爱你一辈子了
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="icon">
          
        </div>
        <div class="right">
          <div class="name">DeepKolos</div>
          <div class="content">
            充满感情->漠然
          </div>
          <div class="attachments multiple">
            <div><img src="/data/littleChat/moment-sample/0.png" alt=""></div>
            <div><img src="/data/littleChat/moment-sample/0.png" alt=""></div>
            <div><img src="/data/littleChat/moment-sample/0.png" alt=""></div>
            <div><img src="/data/littleChat/moment-sample/0.png" alt=""></div>
            <div><img src="/data/littleChat/moment-sample/0.png" alt=""></div>
            <div><img src="/data/littleChat/moment-sample/0.png" alt=""></div>
          </div>
          <div class="location">
            惠州学院
          </div>
          <div class="controllBar">
            <div class="left">
              <div class="time">7年前</div>
              <div class="fromApp">微信高仿</div>
              <div>
                <div class="limitIcon clearFloat"></div>
              </div>
              <div class="btnDel">删除</div>
            </div>
            <div class="btnExpand">
              
            </div>
            <div class="expandContainer on">
              <div class="btnLike">
                <img src="/data/littleChat/controllBar-like-icon.png" alt=""> 赞
              </div>
              <div class="btnComment">
                <img src="/data/littleChat/controllBar-comment-icon.png" alt=""> 评论
              </div>
            </div>
          </div>
          <div class="interaction">
            <div class="triangle"></div>
            <div class="likesContainer">
              蓝精灵
            </div>
            <div class="commentsContainer">
              蓝精灵: 放手吧<br>DeepKolos: 都没牵过手... 反正我都确定爱你一辈子了
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="icon">
          
        </div>
        <div class="right">
          <div class="name">DeepKolos</div>
          <div class="content">
            充满感情->漠然
          </div>
          <div class="attachments link">
            <div>
              <img class="icon">
              <div class="title">蓝精灵</div>
            </div>
          </div>
          <div class="location">
            惠州学院
          </div>
          <div class="controllBar">
            <div class="left">
              <div class="time">7年前</div>
              <div class="fromApp">微信高仿</div>
              <div>
                <div class="limitIcon clearFloat"></div>
              </div>
              <div class="btnDel">删除</div>
            </div>
            <div class="btnExpand">
              
            </div>
            <div class="expandContainer on">
              <div class="btnLike">
                <img src="/data/littleChat/controllBar-like-icon.png" alt=""> 赞
              </div>
              <div class="btnComment">
                <img src="/data/littleChat/controllBar-comment-icon.png" alt=""> 评论
              </div>
            </div>
          </div>
          <div class="interaction">
            <div class="triangle"></div>
            <div class="likesContainer">
              蓝精灵
            </div>
            <div class="commentsContainer">
              蓝精灵: 放手吧<br>DeepKolos: 都没牵过手... 反正我都确定爱你一辈子了
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="icon">
          
        </div>
        <div class="right">
          <div class="name">DeepKolos</div>
          <div class="content">
            充满感情->漠然
          </div>
          <div class="attachments music">
            <div>
              <div class="icon">
                
                <img class="btnPlay" src="/data/littleChat/play-icon.png" alt="">
              </div>
              <div class="right">
                <div class="songName">现代爱情故事</div>
                <div class="singer">蓝精灵</div>
              </div>
            </div>
          </div>
          <div class="location">
            惠州学院
          </div>
          <div class="controllBar">
            <div class="left">
              <div class="time">7年前</div>
              <div class="fromApp">微信高仿</div>
              <div>
                <div class="limitIcon clearFloat"></div>
              </div>
              <div class="btnDel">删除</div>
            </div>
            <div class="btnExpand">
              
            </div>
            <div class="expandContainer on">
              <div class="btnLike">
                <img src="/data/littleChat/controllBar-like-icon.png" alt=""> 赞
              </div>
              <div class="btnComment">
                <img src="/data/littleChat/controllBar-comment-icon.png" alt=""> 评论
              </div>
            </div>
          </div>
          <div class="interaction">
            <div class="triangle"></div>
            <div class="likesContainer">
              蓝精灵
            </div>
            <div class="commentsContainer">
              蓝精灵: 放手吧<br>DeepKolos: 都没牵过手... 反正我都确定爱你一辈子了
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="loadingCircle"></div>

<div class="inputBar noneAnimation textInputOn">
  <div class="flex">
    <div class="textOrVoiceInput">
      <div class="textInput" contenteditable="true" autocorrect="off" autocomplete="off" spellcheck="false">
        DeepKolos[爱心]蓝精灵
      </div>
    </div>
    <div class="emoji" click="&viewStatus=Emoji">
      <img src="/data/littleChat/inputbar-emoji-icon.png">
    </div>
    <div class="sendDisable">
      <span>发送</span>
    </div>
    <div class="send">
      <span>发送</span>
    </div>
  </div>
  <div class="emojiPanle noneAnimation">
    <div class="slider emojiTypeSlider">
      <ul>
        <li>
          <div class="slider commonEmojiSlider">
            <ul>
            </ul>
          </div>
          <div class="ctrlBar commonCtrl">
            <div class="ctrlContainer"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="emojiTypeCtrl">
      <div class="emojiTypeCtrlContainer"></div>
    </div>
  </div>
</div>