<div class="topBar flex">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">我的相册</span>
    <div class="setting flex">
    </div>
  </div>
  <div class="btnMessage" click=""></div>
</div>

<div class="main">
  <div class="cover">
    <div class="bg">
      <img src="/data/littleChat/deepkolos-portrait.jpg" alt="">
    </div>
    <div class="container">
      <div class="oneLine">
        <div class="name">蓝精灵</div>
        <div class="thumbnail">
          <img src="/data/littleChat/deepkolos-portrait.jpg" alt="">
        </div>
      </div>
      <div class="signature">乐观 自信 爱~</div>
    </div>
  </div>

  <div class="cardContainer">
    <div class="card">
      <div class="left">
        <div class="day">18</div>
        <div class="month">8月</div>
      </div>
      <div class="momentContainer">
        <div class="moment image _1">
          <div class="icon">
            <div><img src="/data/littleChat/moment-sample/2.png" alt=""></div>
          </div>
          <div class="right">
            <div class="text">蓝精灵</div>
            <div class="total">共张</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="left">
        <div class="day">18</div>
        <div class="month">8月</div>
      </div>
      <div class="momentContainer">
        <div class="moment image _2">
          <div class="icon">
            <div><img src="/data/littleChat/moment-sample/2.png" alt=""></div>
            <div><img src="/data/littleChat/moment-sample/2.png" alt=""></div>
          </div>
          <div class="right">
            <div class="text">蓝精灵</div>
            <div class="total">共张</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="left">
        <div class="day">18</div>
        <div class="month">8月</div>
      </div>
      <div class="momentContainer">
        <div class="moment image _3">
          <div class="icon">
            <div><img src="/data/littleChat/moment-sample/2.png" alt=""></div>
            <div><img src="/data/littleChat/moment-sample/2.png" alt=""></div>
            <div><img src="/data/littleChat/moment-sample/2.png" alt=""></div>
          </div>
          <div class="right">
            <div class="text">蓝精灵</div>
            <div class="total">共张</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="left">
        <div class="day">18</div>
        <div class="month">8月</div>
      </div>
      <div class="momentContainer">
        <div class="moment image _4">
          <div class="icon">
            <div><img src="/data/littleChat/moment-sample/2.png" alt=""></div>
            <div><img src="/data/littleChat/moment-sample/2.png" alt=""></div>
            <div><img src="/data/littleChat/moment-sample/2.png" alt=""></div>
            <div><img src="/data/littleChat/moment-sample/2.png" alt=""></div>
          </div>
          <div class="right">
            <div class="text">蓝精灵</div>
            <div class="total">共张</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="left">
        <div class="day">18</div>
        <div class="month">8月</div>
      </div>
      <div class="momentContainer">
        <div class="moment text">
          <div class="icon">
            <div><img src="/data/littleChat/moment-sample/2.png" alt=""></div>
          </div>
          <div class="right">
            <div class="text">蓝精灵</div>
            <div class="total">共张</div>
          </div>
        </div>
        <div class="moment link">
          <div class="icon">
            <img src="/data/littleChat/moment-sample/2.png" alt="">
          </div>
          <div class="text">蓝精灵</div>
        </div>
      </div>
    </div>
  </div>
</div>