
<h2>2017第一学期</h2>

<p><span>9月7日</span>教师报到上班</p>
<p><span>9月8日</span>老生报到注册</p>
<p><span>9月11日</span>老生正式上课</p>
<p><span>9月16日</span>新生报到</p>
<p><span>9月18-30日</span>新生军训+入学教育</p>
<p><span>10月9日</span>正式上课</p>
<p><span>10月1-7日</span>国庆节放假7天</p>
<p><span>10月4日</span>中秋节放假一天</p>
<p><span>11月10、11日</span>全校运动会2天</p>
<p><span>2018年1月1日</span>元旦放假一天</p>
<p><span>2018年1月15日-19日</span>安排期末集中考试</p>
<p><span>2018年1月20日</span>学生放寒假</p>
<p><span>2018年1月22日</span>教师放寒假</p>
<p><span>2018年2月16日</span>春节</p>

<h2>第二学期</h2>

<p><span>2018年3月3日</span>教师报到上班</p>
<p><span>3月4日</span>学生报到注册</p>
<p><span>3月5日</span>全校正式上课</p>
<p><span>3月8日 </span>无课女教职工放假半天</p>
<p><span>4月5日</span>清明节放假一天</p>
<p><span>5月1日</span>国际劳动节放假一天</p>
<p><span>第12周</span>毕业班安排期末集中考试</p>
<p><span>6月18日</span>端午节放假一天</p>
<p><span>6月29日（17周）</span>授予学士学位</p>
<p><span>7月9-13日</span>非毕业班安排期末集中考试</p>
<p><span>7月14日</span>学生放暑假</p>
<p><span>7月16日</span>教师放暑假</p>1