
<h2>2016第一学期</h2>

<p><span>9月1日</span>教师报到上班</p>
<p><span>9月2日</span>2号老生报到注册</p>
<p><span>9月5日</span>老生正式上课</p>
<p><span>9月10日</span>新生报到</p>
<p><span>9月12-23日</span>新生军训+入学教育</p>
<p><span>9月26日</span>正式上课</p>
<p><span>9月15日</span>中秋节放假一天</p>
<p><span>10月1-3日</span>国庆节放假三天</p>
<p><span>11月3、4日</span>全校运动会2天</p>
<p><span>2017年1月1日</span>元旦放假一天</p>
<p><span>2017年1月9日-13日</span>安排期末集中考试</p>
<p><span>2017年1月14日</span>学生放寒假</p>
<p><span>2017年1月16日</span>教师放寒假</p>
<p><span>2017年1月28日</span>春节</p>

<h2>第二学期</h2>

<p><span>2017年2月16日</span>教师报到上班</p>
<p><span>2月17日</span>学生报到注册</p>
<p><span>2月20日</span>全校正式上课</p>
<p><span>3月8日 </span>无课女教职工放假半天</p>
<p><span>4月4日</span>清明节放假一天</p>
<p><span>5月1日</span>国际劳动节放假一天</p>
<p><span>5月30日</span>端午节放假一天</p>
<p><span>第14-15周</span>毕业班安排期末集中考试</p>
<p><span>6月23日（18周）</span>授予学士学位</p>
<p><span>6月26-30日</span>非毕业班安排期末集中考试</p>
<p><span>7月1日</span>学生放暑假，7月3日教师放暑假</p>

<a href="#Home/2017" class="btnOneLine" style="display:block;color:white;">查看下年的校历</a>