<div class="topBar flex">
  <div class="back" click="#back">
    
  </div>
  <div class="center flex">
    <span class="name">卡包</span>
    <div class="setting flex">
    </div>
  </div>
  <div class="btn" click="#Friend/Add">
    消息通知
  </div>
</div>

<div class="main">
  <div class="item segment big">会员卡<span>查看全部(2)</span></div>
  <div class="cardContainer">
    <div>
      <div class="icon">
        <img src="/data/littleChat/wallet/card-yidong-logo.png" alt="">
      </div>
      <div class="right">
        <div class="type">微信支付</div>
        <div class="name">2015年无现金日纪念卡</div>
      </div>
    </div>
    <div>
      <div class="icon">
        <img src="/data/littleChat/wallet/card-no-cash-logo.png" alt="">
      </div>
      <div class="right">
        <div class="type">微信支付</div>
        <div class="name">2015年无现金日纪念卡</div>
      </div>
    </div>
  </div>
  <div class="item segment big">优惠卷</div>
  <div class="couponContainer">
    <div>
      <div class="icon">
        <img src="/data/littleChat/wallet/coupon-friends-icon.png" alt="">
      </div>
      <div class="right">朋友的优惠券</div>
    </div>
    <div>
      <div class="icon">
        <img src="/data/littleChat/wallet/coupon-my-icon.png" alt="">
      </div>
      <div class="right">我的票券(0)</div>
    </div>
  </div>
</div>