<div class="topBar flex">
  <div class="back" click="#back">
    
  </div>
  <div class="center flex">
    <span class="name">零钱</span>
    <div class="setting flex">
    </div>
  </div>
  <div class="btn" click="#Friend/Add">
    零钱明细
  </div>
</div>

<div class="main">
  <div class="container">
    <div class="coin">
      <img src="/data/littleChat/wallet/coin.png" alt="">
    </div>
    <div class="text">我的零钱</div>
    <div class="value">￥0.91</div>
    <div class="btnOneLine btnCharge">充值</div>
    <div class="btnOneLine btnWhite" click="#Chat/AboutFriend?viewPopUp=VideoCall">提现</div>
    <div class="notificationOfManageMoney">
      <img src="/data/littleChat/wallet/money-manage-mini.png" alt=""> 你有零钱理财资产, 点击查看详情
    </div>
  </div>
  <div class="bottomBtn" broswerClick="">常见问题</div>
  <div class="note">本服务由财付通提供</div>
</div>