<div class="topBar flex customBg redBg">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">面对面红包</span>
    <div class="setting flex">
    </div>
  </div>
  <div class="btnMenu" click="&viewPopUp=FaceRedPacketBottomMenu"></div>
</div>

<div class="main redBg">
  <div class="container">
    <div class="qrcode">
      <img src="/data/littleChat/wallet/face-redpacket-not-ready.png" alt="">
    </div>
    <div class="note">还没有准备红包</div>
    <div class="btnContainer">
      <span class="btnPackOne">包红包</span>
    </div>
  </div>
</div>