<div class="topBar flex">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">我的钱包</span>
    <div class="setting flex">
    </div>
  </div>
  <div class="btnMenu" click="&viewPopUp=BottomMenu"></div>
</div>

<div class="main">
  <div class="mainBtnsContainer">
    <div click="#Wallet/PayReceive">
      <div class="icon"><img src="/data/littleChat/wallet/pay-receive-icon.png" alt=""></div>
      <div class="name">收付款</div>
      <div class="value"></div>
    </div>
    <div click="#Wallet/Change">
      <div class="icon"><img src="/data/littleChat/wallet/change-icon.png" alt=""></div>
      <div class="name">零钱</div>
      <div class="value">￥0.91</div>
    </div>
    <div click="#Wallet/BankCard">
      <div class="icon"><img src="/data/littleChat/wallet/bank-card-icon.png" alt=""></div>
      <div class="name">银行卡</div>
      <div class="value"></div>
    </div>
  </div>
  <div class="item segment middle">腾讯服务</div>
  <div class="iconItemContianer">
    <div>
      <div class="cornerMark"></div>
      <div class="icon"><img src="/data/littleChat/wallet/credit-card.png" alt=""></div>
      <div class="name">信用卡还账</div>
      <div class="value"></div>
    </div>
    <div>
      <div class="cornerMark"></div>
      <div class="icon"><img src="/data/littleChat/wallet/topup.png" alt=""></div>
      <div class="name">手机充值</div>
      <div class="value"></div>
    </div>
    <div>
      <div class="cornerMark"><img src="/data/littleChat/wallet/new-tag.png" alt=""></div>
      <div class="icon"><img src="/data/littleChat/wallet/money-manage.png" alt=""></div>
      <div class="name">理财通</div>
      <div class="value"></div>
    </div>
    <div>
      <div class="cornerMark"></div>
      <div class="icon"><img src="/data/littleChat/wallet/life-business.png" alt=""></div>
      <div class="name">生活缴费</div>
      <div class="value"></div>
    </div>
    <div>
      <div class="cornerMark"></div>
      <div class="icon"><img src="/data/littleChat/wallet/qq-topup.png" alt=""></div>
      <div class="name">QQ充值</div>
      <div class="value"></div>
    </div>
    <div>
      <div class="cornerMark"></div>
      <div class="icon"><img src="/data/littleChat/wallet/city-service.png" alt=""></div>
      <div class="name">城市服务</div>
      <div class="value"></div>
    </div>
    <div>
      <div class="cornerMark"></div>
      <div class="icon"><img src="/data/littleChat/wallet/public-welfare.png" alt=""></div>
      <div class="name">腾讯公益</div>
      <div class="value"></div>
    </div>
  </div>
  <div class="item segment middle">限时推广</div>
  <div class="iconItemContianer">
    <div>
      <div class="cornerMark"></div>
      <div class="icon"><img src="/data/littleChat/wallet/mobike.png" alt=""></div>
      <div class="name">摩拜单车</div>
      <div class="value"></div>
    </div>
    <div>
      <div class="cornerMark"></div>
      <div class="icon"><img src="/data/littleChat/wallet/wangka.png" alt=""></div>
      <div class="name">腾讯王卡</div>
      <div class="value"></div>
    </div>
  </div>
  <div class="item segment middle">第三方服务</div>
  <div class="iconItemContianer">
    <div>
      <div class="cornerMark"></div>
      <div class="icon"><img src="/data/littleChat/wallet/train.png" alt=""></div>
      <div class="name">火车票机票</div>
      <div class="value"></div>
    </div>
    <div>
      <div class="cornerMark"></div>
      <div class="icon"><img src="/data/littleChat/wallet/didi.png" alt=""></div>
      <div class="name">滴滴出行</div>
      <div class="value"></div>
    </div>
    <div>
      <div class="cornerMark"></div>
      <div class="icon"><img src="/data/littleChat/wallet/jd.png" alt=""></div>
      <div class="name">京东优选</div>
      <div class="value"></div>
    </div>
    <div>
      <div class="cornerMark"></div>
      <div class="icon"><img src="/data/littleChat/wallet/meituan.png" alt=""></div>
      <div class="name">美团外卖</div>
      <div class="value"></div>
    </div>
    <div>
      <div class="cornerMark"></div>
      <div class="icon"><img src="/data/littleChat/wallet/movie.png" alt=""></div>
      <div class="name">电影演出赛事</div>
      <div class="value"></div>
    </div>
    <div>
      <div class="cornerMark"></div>
      <div class="icon"><img src="/data/littleChat/wallet/dianping.png" alt=""></div>
      <div class="name">吃喝玩乐</div>
      <div class="value"></div>
    </div>
    <div>
      <div class="cornerMark"></div>
      <div class="icon"><img src="/data/littleChat/wallet/yilong.png" alt=""></div>
      <div class="name">酒店</div>
      <div class="value"></div>
    </div>
    <div>
      <div class="cornerMark"></div>
      <div class="icon"><img src="/data/littleChat/wallet/mogujie.png" alt=""></div>
      <div class="name">蘑菇街女装</div>
      <div class="value"></div>
    </div>
    <div>
      <div class="cornerMark"></div>
      <div class="icon"><img src="/data/littleChat/wallet/daojia.png" alt=""></div>
      <div class="name">58到家</div>
      <div class="value"></div>
    </div>
  </div>
</div>