<div class="topBar flex">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">支付管理</span>
    <div class="setting"></div>
  </div>
</div>

<div class="main">
  <div class="segment item"></div>
  <div class="item flex">
    <div class="name">实名认证</div>
    <div class="currentValue">已认证</div>
  </div>
  <div class="segment item"></div>
  <div class="item flex">
    <div class="name">修改支付密码</div>
  </div>
  <div class="item flex">
    <div class="name">忘记支付密码</div>
  </div>
  <div class="segment item"></div>
  <div class="item flex">
    <div class="name">手势密码</div>
    <div class="switcher on"></div>
  </div>
  <div class="item flex">
    <div class="name">修改手势密码</div>
  </div>
  <div class="segment item"></div>
  <div class="item flex">
    <div class="name">修改到账时间</div>
    <div class="currentValue">实时到账</div>
  </div>
  <div class="segment item"></div>
  <div class="item flex">
    <div class="name">数字证书</div>
    <div class="currentValue">未启用</div>
  </div>
  <div class="segment item"></div>
</div>