<div class="topBar flex customBg greenBg">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">收付款</span>
    <div class="setting flex">
    </div>
  </div>
</div>

<div class="main greenBg">
  <div class="tile">
    <div class="bar">
      <div class="icon">
        <img src="/data/littleChat/scan-pay-icon.png" alt="">
      </div>
      <div class="title">向商家付款</div>
    </div>
    <div class="content">
      <div class="centerIcon">
        <img src="/data/littleChat/notification-middle-icon.png" alt="">
      </div>
      <div class="text">
        你未开启付款功能. 开启后, 向商家展示付款码即可完成快速支付.
      </div>
      <div class="btnEnable">立即开启</div>
    </div>
  </div>
  <div class="list">
    <div click="#Wallet/QrReceive">
      <div class="icon"><img src="/data/littleChat/wallet/qr-receive.png" alt=""></div>
      <div class="name">二维码收款</div>
    </div>
    <div click="#Wallet/GroupReceive">
      <div class="icon"><img src="/data/littleChat/wallet/gourp-receive.png" alt=""></div>
      <div class="name">群收款</div>
    </div>
    <div click="#Wallet/FaceRedPacket">
      <div class="icon"><img src="/data/littleChat/wallet/face-to-face-redpacket.png" alt=""></div>
      <div class="name">面对面红包</div>
    </div>
  </div>
</div>