<div class="topBar flex customBg yellowBg">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">二维码收款</span>
    <div class="setting flex">
    </div>
  </div>
</div>

<div class="main yellowBg">
  <div class="tile">
    <div class="bar">
      <div class="icon">
        <img src="/data/littleChat/change-mini-icon.png" alt="">
      </div>
      <div class="title">二维码收款</div>
      <div class="btnMenu" click="&viewPopUp=QrReceiveBottomMenu"></div>
    </div>
    <div class="content">
      <div class="text">无需加好友,扫码向我付钱</div>
      <div class="qrcode">
        <img src="/data/littleChat/pay-qrcode.png" alt="">
        <div class="icon">
          <img src="/data/littleChat/deepkolos-portrait.jpg" alt="">
        </div>
      </div>
      <div class="btnBar">
        <span>设置金额</span>
        <span>保存收款码</span>
      </div>
    </div>
  </div>
</div>