<div class="topBar flex">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">认真乖巧</span>
    <div class="setting flex">
    </div>
  </div>
  <div class="btnShare" click="&viewPopUp=BottomMenu"></div>
</div>

<div class="main">
  <div class="banner">
    <img src="/data/littleChat/emojiStore/banner-1.png" alt="">
  </div>
  <div class="info">
    <div class="flex">
      <div class="name">认真乖巧</div>
      <div class="type">动画</div>
      <div class="auto"></div>
      <div class="btnDownload">下载</div>
    </div>
    <div class="discription">乖巧又不失礼貌</div>
  </div>
  <div class="separator">
    <div class="leftLine"></div>
    <span class="text">长按表情可以预览</span>
    <div class="rightLine"></div>
  </div>
  <div class="emojiContianer">
    <div><img src="/data/littleChat/emojiStore/0.png" alt=""></div>
    <div><img src="/data/littleChat/emojiStore/0.png" alt=""></div>
    <div><img src="/data/littleChat/emojiStore/0.png" alt=""></div>
    <div><img src="/data/littleChat/emojiStore/0.png" alt=""></div>
    <div><img src="/data/littleChat/emojiStore/0.png" alt=""></div>
    <div><img src="/data/littleChat/emojiStore/0.png" alt=""></div>
    <div><img src="/data/littleChat/emojiStore/0.png" alt=""></div>
    <div><img src="/data/littleChat/emojiStore/0.png" alt=""></div>
    <div><img src="/data/littleChat/emojiStore/0.png" alt=""></div>
    <div><img src="/data/littleChat/emojiStore/0.png" alt=""></div>
    <div><img src="/data/littleChat/emojiStore/0.png" alt=""></div>
    <div><img src="/data/littleChat/emojiStore/0.png" alt=""></div>
  </div>
  <div class="author">
    <div class="icon"></div>
    <div class="name">超能</div>
    <div class="link">艺术家主页></div>
  </div>
  <div class="awardText">好人一生平安</div>
  <div class="awardBtn">奖赏</div>
  <div class="awardNumber"><span>1107</span>人奖赏</div>
  <div class="awardPeople">
    <div class="icon"></div>
    <div class="icon"></div>
    <div class="icon"></div>
    <div class="icon"></div>
    <div class="icon"></div>
    <div class="icon"></div>
    <div class="icon"></div>
    <div class="icon"></div>
  </div>
  <div class="copyright">Copyright 超能</div>
  <div class="oneLine">
    <div>服务声明</div>
    <div>侵权投诉</div>
  </div>
</div>