<div class="topBar flex">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">表情商店</span>
    <div class="setting flex">
    </div>
  </div>
  <div class="info" click="&viewStatus=Search">
    <img src="/data/littleChat/search-normal-icon.png" alt="">
  </div>
  <div class="info" click="#Setting/Emoji">
    <img src="/data/littleChat/topbar-setting-icon.png" alt="">
  </div>
</div>

<div class="main">
  <div class="tabBar">
    
  </div>
  <div class="indicator"></div>
  <div class="slider tab">
    <ul>
      <li>
        <div class="slider handpick">
          <ul>
            <li>
              <img src="/data/littleChat/emojiStore/banner-0.png" alt="">
            </li>
            <li>
              <img src="/data/littleChat/emojiStore/banner-0.png" alt="">
            </li>
            <li>
              <img src="/data/littleChat/emojiStore/banner-0.png" alt="">
            </li>
          </ul>
        </div>
        <div class="label">推荐表情</div>
        <div class="list">
          <div click="#Emoji/Detial">
            <div class="icon">
              <img src="/data/littleChat/emojiStore/0.png" alt="">
            </div>
            <div class="center">
              <div class="title">认真乖巧</div>
              <div class="description">乖巧到无言以对</div>
            </div>
            <div class="btnDownload">下载</div>
          </div>
          <div click="#Emoji/Detial">
            <div class="icon">
              <img src="/data/littleChat/emojiStore/0.png" alt="">
            </div>
            <div class="center">
              <div class="title">认真乖巧</div>
              <div class="description">乖巧到无言以对</div>
            </div>
            <div class="btnDownload">下载</div>
          </div>
          <div>
            <div class="icon">
              <img src="/data/littleChat/emojiStore/0.png" alt="">
            </div>
            <div class="center">
              <div class="title">认真乖巧</div>
              <div class="description">乖巧到无言以对</div>
            </div>
            <div class="btnDownload">下载</div>
          </div>
        </div>
        <div class="label">更多精选</div>
        <div class="list">
          <div>
            <div class="icon">
              <img src="/data/littleChat/emojiStore/0.png" alt="">
            </div>
            <div class="center">
              <div class="title">认真乖巧</div>
              <div class="description">乖巧到无言以对</div>
            </div>
            <div class="btnDownload">下载</div>
          </div>
          <div>
            <div class="icon">
              <img src="/data/littleChat/emojiStore/0.png" alt="">
            </div>
            <div class="center">
              <div class="title">认真乖巧</div>
              <div class="description">乖巧到无言以对</div>
            </div>
            <div class="btnDownload">下载</div>
          </div>
          <div>
            <div class="icon">
              <img src="/data/littleChat/emojiStore/0.png" alt="">
            </div>
            <div class="center">
              <div class="title">认真乖巧</div>
              <div class="description">乖巧到无言以对</div>
            </div>
            <div class="btnDownload">下载</div>
          </div>
        </div>
      </li>
      <li>
        <div class="slider more">
          <ul>
            <li>
              <img src="/data/littleChat/emojiStore/banner-0.png" alt="">
            </li>
            <li>
              <img src="/data/littleChat/emojiStore/banner-0.png" alt="">
            </li>
            <li>
              <img src="/data/littleChat/emojiStore/banner-0.png" alt="">
            </li>
          </ul>
        </div>
        <div class="label">推荐表情<span>新品推荐></span></div>
        <div class="listIcon">
          <div>
            <div class="icon">
              <img src="/data/littleChat/emojiStore/2.png" alt="">
            </div>
            <div class="name">桃小仙心动篇</div>
          </div>
          <div>
            <div class="icon">
              <img src="/data/littleChat/emojiStore/2.png" alt="">
            </div>
            <div class="name">桃小仙心动篇</div>
          </div>
          <div>
            <div class="icon">
              <img src="/data/littleChat/emojiStore/2.png" alt="">
            </div>
            <div class="name">桃小仙心动篇</div>
          </div>
          <div>
            <div class="icon">
              <img src="/data/littleChat/emojiStore/2.png" alt="">
            </div>
            <div class="name">桃小仙心动篇</div>
          </div>
          <div>
            <div class="icon">
              <img src="/data/littleChat/emojiStore/2.png" alt="">
            </div>
            <div class="name">桃小仙心动篇</div>
          </div>
          <div>
            <div class="icon">
              <img src="/data/littleChat/emojiStore/2.png" alt="">
            </div>
            <div class="name">桃小仙心动篇</div>
          </div>
          <div>
            <div class="icon">
              <img src="/data/littleChat/emojiStore/2.png" alt="">
            </div>
            <div class="name">桃小仙心动篇</div>
          </div>
          <div>
            <div class="icon">
              <img src="/data/littleChat/emojiStore/2.png" alt="">
            </div>
            <div class="name">桃小仙心动篇</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>