<div class="topBar flex">
  <div class="back" click="#back">
    
  </div>
  <div class="center flex">
    <span class="name">聊天信息</span>
    <div class="setting flex">
    </div>
  </div>
  <div class="info" click="#Chat/AboutChat"></div>
</div>

<div class="main">
  <!--div.item.segment+div.item.chatMember+div.item.segment+div.item*2+div.segment-->
  <div class="item segment"></div>
  <div class="item flex chatMembers">
    <div class="member">
      <div class="icon"></div>
      <div class="name">蓝精灵</div>
    </div>
    <div class="member">
      <div class="icon"></div>
      <div class="name">DeepKolos</div>
    </div>
  </div>
  <div class="item segment"></div>
  <div class="item flex">
    <div class="name">查找聊天记录</div>
  </div>
  <div class="item segment"></div>
  <div class="item flex">
    <div class="name">置顶聊天</div>
    <div class="switcher"></div>
  </div>
  <div class="item flex">
    <div class="name">消息免打扰</div>
    <div class="switcher"></div>
  </div>
  <div class="item segment"></div>
  <div class="item flex">
    <div class="name">设置当前聊天背景</div>
  </div>
  <div class="item segment"></div>
  <div class="item flex">
    <div class="name">清空聊天记录</div>
  </div>
  <div class="item segment"></div>
  <div class="item flex">
    <div class="name">投诉</div>
  </div>
  <div class="item segment"></div>
  <div class="item segment"></div>
</div>