<div class="topBar flex">
  <div class="back" click="#back">
    
  </div>
  <div class="center flex">
    <span class="name">蓝精灵</span>
    <div class="setting flex">
      <img class="noneSound" src="/data/littleChat/topbar-noneSound-icon.png" alt="">
      <img class="ear" src="/data/littleChat/topbar-ear-icon.png" alt="">
    </div>
  </div>
  <div class="info" click="#Chat/AboutChat">
    <img src="/data/littleChat/topbar-people-icon.png" alt="">
  </div>
</div>

<div class="backColumn"></div>

<div class="messages noneAnimation showName">
  <div style="will-change: transform;">
    <div class="time">
      <span>早上9:29</span>
    </div>
    <div class="flex">
      <div class="message send">
        <div class="icon"></div>
        <div class="leftOrRight">
          <div class="name">蓝精灵</div>
          <div class="content text" 
            press="&viewPopUp=Menu" 
            doubleClick="&viewPopUp=ZoomText">
            我靠~其实我也想像钢铁侠那样有个机器助手 , 拿拿杯子 , 也可以帮忙做焊接1
          </div>
        </div>
      </div>
      <div class="rightColumn">
        <div class="checkbox on"></div>
      </div>
      <div class="checkClickMask"></div>
    </div>
    <div class="flex">
      <div class="message receive">
        <div class="icon"></div>
        <div class="leftOrRight">
          <div class="name">蓝精灵</div>
          <div class="content text" 
               press="&viewPopUp=Menu" 
               doubleClick="&viewPopUp=ZoomText" >
            我靠~其实我也想像钢铁侠那样有个机器助手 , 拿拿杯子 , 也可以帮忙做焊接2
          </div>
        </div>
      </div>
      <div class="rightColumn">
        <div class="checkbox on"></div>
      </div>
      <div class="checkClickMask"></div>
    </div>
    <div class="message receive">
      <div class="icon"></div>
      <div class="leftOrRight">
        <div class="name">蓝精灵</div>
        <div class="content text">我靠~其实我也想像钢铁侠那样有个机器助手 , 拿拿杯子 , 也可以帮忙做焊接</div>
      </div>
    </div>
    <div class="message receive">
      <div class="icon"></div>
      <div class="leftOrRight">
        <div class="name">蓝精灵</div>
        <div class="content image inital" click="&viewPopUp=ZoomPhoto">
          <img src="" alt="" srcToLoad="data/littleChat/chatCache/img/微信图片_20170815091644.png">
        </div>
      </div>
    </div>
    <div class="message send showName">
      <div class="icon"></div>
      <div class="leftOrRight">
        <div class="name">蓝精灵</div>
        <div class="content image inital" 
             click="&viewPopUp=ZoomPhoto">
          <img srcToLoad="data/littleChat/chatCache/img/微信图片_20170815091725.png" src="" alt="">
        </div>
      </div>
    </div>
    <div class="message receive">
      <div class="icon"></div>
      <div class="leftOrRight">
        <div class="name">蓝精灵</div>
        <div class="content image inital" click="&viewPopUp=ZoomPhoto">
          <img src="" alt="" srcToLoad="data/littleChat/chatCache/img/微信图片_20170815091727.png">
        </div>
      </div>
    </div>
    <div class="message send showName">
      <div class="icon"></div>
      <div class="leftOrRight">
        <div class="name">蓝精灵</div>
        <div class="content image inital" click="&viewPopUp=ZoomPhoto">
          <img srcToLoad="data/littleChat/chatCache/img/微信图片_20170815091730.png" src="" alt="">
        </div>
      </div>
    </div>
    <div class="message receive">
      <div class="icon"></div>
      <div class="leftOrRight">
        <div class="name">蓝精灵</div>
        <div class="content image inital" click="&viewPopUp=ZoomPhoto">
          <img src="" alt="" srcToLoad="data/littleChat/chatCache/img/微信图片_20170815091732.png">
        </div>
      </div>
    </div>
    <div class="message send showName">
      <div class="icon"></div>
      <div class="leftOrRight">
        <div class="name">蓝精灵</div>
        <div class="content image inital" click="&viewPopUp=ZoomPhoto">
          <img srcToLoad="data/littleChat/chatCache/img/40.png" src="" alt="">
        </div>
      </div>
    </div>
    <div class="message send showName">
      <div class="icon"></div>
      <div class="leftOrRight">
        <div class="name">蓝精灵</div>
        <div class="content image inital" click="&viewPopUp=ZoomPhoto">
          <img srcToLoad="data/littleChat/chatCache/img/50.png" src="" alt="">
        </div>
      </div>
    </div>
    <div class="message send showName">
      <div class="icon"></div>
      <div class="leftOrRight">
        <div class="name">蓝精灵</div>
        <div class="content image inital" click="&viewPopUp=ZoomPhoto">
          <img srcToLoad="data/littleChat/chatCache/img/50.png" src="" alt="">
        </div>
      </div>
    </div>
    <div class="message send showName">
      <div class="icon"></div>
      <div class="leftOrRight">
        <div class="name">蓝精灵</div>
        <div class="content image inital" click="&viewPopUp=ZoomPhoto">
          <img srcToLoad="data/littleChat/chatCache/img/60.png" src="" alt="">
        </div>
      </div>
    </div>
    <div class="message send showName">
      <div class="icon"></div>
      <div class="leftOrRight">
        <div class="name">蓝精灵</div>
        <div class="content image inital" click="&viewPopUp=ZoomPhoto">
          <img srcToLoad="data/littleChat/chatCache/img/70.png" src="" alt="">
        </div>
      </div>
    </div>
    <div class="message send showName">
      <div class="icon"></div>
      <div class="leftOrRight">
        <div class="name">蓝精灵</div>
        <div class="content image inital" click="&viewPopUp=ZoomPhoto">
          <img srcToLoad="data/littleChat/chatCache/img/微信图片_20170815091716.png" src="" alt="">
        </div>
      </div>
    </div>
    <div class="message receive showName">
      <div class="icon"></div>
      <div class="leftOrRight">
        <div class="name">蓝精灵</div>
        <div class="content image inital" click="&viewPopUp=ZoomPhoto">
          <img srcToLoad="data/littleChat/chatCache/img/微信图片_20170815091716 - 副本.png" src="" alt="">
        </div>
      </div>
    </div>
    <!---->
    <div class="message send showName">
      <div class="icon"></div>
      <div class="leftOrRight">
        <div class="name">蓝精灵</div>
        <div class="content emoji inital">
          <img srcToLoad="data/littleChat/chatCache/img/124-2-1280x800.jpg" src="" alt="">
        </div>
      </div>
    </div>
    <div class="message receive showName">
      <div class="icon"></div>
      <div class="leftOrRight">
        <div class="name">蓝精灵</div>
        <div class="content link" 
             broswerClick="http://mp.weixin.qq.com/s/YH9Hk4Jd__-1bOvw8cNh-g"
             broswerTitle="腾讯Web前端大会最强参会攻略-AlloyTeam">
          <div class="linkName">腾讯Web前端大会最强参会攻略-AlloyTeam</div>
          <div class="flex">
            <div class="linkDescription">
              http://www.alloyteam.com/2017/06/12748/#prettyPhoto
            </div>
            <div class="linkIcon"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="message send showName">
      <div class="icon"></div>
      <div class="leftOrRight">
        <div class="name">蓝精灵</div>
        <div class="content link">
          <div class="linkName">腾讯Web前端大会最强参会攻略-AlloyTeam</div>
          <div class="flex">
            <div class="linkDescription">
              https://mp.weixin.qq.com/s?__biz=MjM5OTM0MDYwMg==&mid=202356522&idx=1&sn=3e1da244053d304e7e5c7a6a1a665b5e&key=79cf83ea5128c3e5432d209bf6d18e8764be333d76aa32402006145e33edb07941350d5e021dc4a093563e1e8d125a29&ascene=1&uin=MzU4MDIzNzc1&devicetype=Windows+7&ve
            </div>
            <div class="linkIcon"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="message send showName">
      <div class="icon"></div>
      <div class="leftOrRight">
        <div class="name">蓝精灵</div>
        <div class="content file">
          <div class="flex">
            <div class="fileInfo">
              <div class="fileName">Deep Learning.PDF Deep Learning.PDF</div>
              <div class="fileSize">12.2MB</div>
            </div>
            <div class="fileIcon"></div>
          </div>
          <div class="sendFrom"><span class="sendFromIcon"></span>微信电脑版</div>
        </div>
      </div>
    </div>
    <div class="message send">
      <div class="icon"></div>
      <div class="leftOrRight">
        <div class="name">蓝精灵</div>
        <div class="flex-auto">
          <div class="content voice">
            <div class="voiceIcon"></div>
          </div>
          <div class="voiceTime">60"</div>
        </div>
      </div>
    </div>
    <div class="message receive">
      <div class="icon"></div>
      <div class="leftOrRight">
        <div class="name">蓝精灵</div>
        <div class="flex-auto">
          <div class="content voice">
            <div class="voiceIcon"></div>
          </div>
          <div class="voiceTime">60"</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="inputBar noneAnimation textInputOn">
  <div class="flex">
    <div class="textVoiceSwitcher">
      <img src="/data/littleChat/inputbar-voice-icon.png">
    </div>
    <div class="textOrVoiceInput">
      <div class="textInput" contenteditable="true" autocorrect="off" autocomplete="off" spellcheck="false">
        DeepKolos[爱心]蓝精灵
      </div>
      <div class="voiceInput">
        <span>按住 说话</span>
        <div class="voiceRecord">
          <div class="flex">
            <div class="flex-1-2">
              <img class="microphone" src="/data/littleChat/microphone-icon.png" alt="">
            </div>
            <div class="flex-1-2">
              <div class="volumeDisplayer">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div class="flex-1-1 textDescription">
              手指上滑, 取消发送
            </div>
          </div>
        </div>
        <div class="recordTimeTooShort">
          <div>
            <img src="/data/littleChat/alert-icon.png" alt="">
          </div>
          <div class="textDescription">
            录音时间太短
          </div>
        </div>
        <div class="cancelVoiceRecord">
          <div>
            <img src="/data/littleChat/cancel-record-icon.png" alt="">
          </div>
          <div class="textDescription">
            松开手指, 取消发送
          </div>
        </div>
      </div>
    </div>
    <div class="emoji" click="&viewStatus=Emoji">
      <img src="/data/littleChat/inputbar-emoji-icon.png">
    </div>
    <div class="more" click="&viewStatus=More">
      <img src="/data/littleChat/inputbar-plus-icon.png">
    </div>
    <div class="send">
      <span>发送</span>
    </div>
  </div>
  <div class="emojiPanle noneAnimation">
    <div class="slider emojiTypeSlider">
      <ul>
        <li>
          <div class="slider commonEmojiSlider">
            <ul>
            </ul>
          </div>
          <div class="ctrlBar commonCtrl">
            <div class="ctrlContainer"></div>
          </div>
        </li>
        <li>
          <div class="slider customEmojiSlider">
            <ul>
            </ul>
          </div>
          <div class="ctrlBar customCtrl">
            <div class="ctrlContainer"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="emojiTypeCtrl">
      <div class="btn" click="#Emoji/Index"><img src="/data/littleChat/emoji-ctrlbar-plus-icon.png" alt=""></div>
      <div class="emojiTypeCtrlContainer"></div>
      <div class="btn" click="#Setting/Emoji"><img src="/data/littleChat/emoji-ctrlbar-manage-icon.png" alt=""></div>
    </div>
  </div>
  <div class="morePanle noneAnimation">
    <div class="slider moreSlider">
      <ul>
      </ul>
    </div>
    <div class="ctrlBar moreCtrl">
      <div class="ctrlContainer"></div>
    </div>
  </div>
</div>

<div class="moreBar flex displaynone">
  <div class="btn-share flex-1-4"></div>
  <div class="btn-collect flex-1-4"></div>
  <div class="btn-delete flex-1-4"></div>
  <div class="btn-mail flex-1-4"></div>
</div>