<div class="topBar flex">
  <div class="back" click="#back"></div>
  <div class="center flex">
    <span class="name">我的收藏</span>
    <div class="setting flex">
    </div>
  </div>
  <div class="info" click="&viewStatus=Search">
    <img src="/data/littleChat/search-normal-icon.png" alt="">
  </div>
  <div class="info" click="#Group/New">
    <img src="/data/littleChat/plus-normal-icon.png" alt="">
  </div>
</div>

<div class="main">
  <div class="container">
    <div class="info">
      <div class="icon">
        <img src="/data/littleChat/collection/IMWeb-logo.png" alt="">
      </div>
      <div class="title">IMWeb前端社区</div>
      <div class="time">1天前</div>
    </div>
    <div class="content link">
      <div class="icon">
        <img src="/data/littleChat/collection/link-icon.png" alt="">
      </div>
      <div class="right">
        <div class="title">张鑫旭: 说说CSS学习中的瓶颈</div>
        <div class="description">IMWeb前端社区</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="info">
      <div class="icon">
        <img src="/data/littleChat/collection/IMWeb-logo.png" alt="">
      </div>
      <div class="title">IMWeb前端社区</div>
      <div class="time">1天前</div>
    </div>
    <div class="content link">
      <div class="icon">
        <img src="/data/littleChat/collection/link-icon.png" alt="">
      </div>
      <div class="right">
        <div class="title">张鑫旭: 说说CSS学习中的瓶颈</div>
        <div class="description">IMWeb前端社区</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="info">
      <div class="icon">
        <img src="/data/littleChat/collection/IMWeb-logo.png" alt="">
      </div>
      <div class="title">IMWeb前端社区</div>
      <div class="time">1天前</div>
    </div>
    <div class="content image">
      <img src="/data/littleChat/moment-sample/1.png" alt="">
    </div>
  </div>
  <div class="container">
    <div class="info">
      <div class="icon">
        <img src="/data/littleChat/collection/IMWeb-logo.png" alt="">
      </div>
      <div class="title">IMWeb前端社区</div>
      <div class="time">1天前</div>
    </div>
    <div class="content image">
      <img src="/data/littleChat/moment-sample/0.png" alt="">
    </div>
  </div>
  <div class="container">
    <div class="info">
      <div class="icon">
        <img src="/data/littleChat/collection/IMWeb-logo.png" alt="">
      </div>
      <div class="title">IMWeb前端社区</div>
      <div class="time">1天前</div>
    </div>
    <div class="content text">
      美帝的法律告诉人们, 永远不要高估一个人的道德.美帝的法律告诉人们, 永远不要高估一个人的道德.美帝的法律告诉人们, 永远不要高估一个人的道德.美帝的法律告诉人们, 永远不要高估一个人的道德.美帝的法律告诉人们, 永远不要高估一个人的道德.
    </div>
  </div>
</div>