<div class="inputText">
    <div>温馨提示</div>
    准考证的组成有: 440570(地区号)+162(年度)+1(四级,2是六级)+考场号(3位)+座位号(2位)
</div>
<div class="inputText">
    <div>准考证号</div>
    <input id='studentID' type="text" value="<? if(isset($id)) echo $id; ?>">
</div>
<div class="inputText">
    <div>你的姓名</div>
    <input id='studentName' type="text" value="<? if(isset($name)) echo $name; ?>">
</div>

<div class="inputText">
    微报查询数据源卡卡的,刚找到了一个更快的,备份了准考证的同学,复制下来到下面这个地址查询吧
    <a href="http://cet.neea.edu.cn/cet/" style="color: #0451A5;">速度杠杆的</a>
</div>
<a href="#home/query"><div class="btnOneLine">查询</div></a>
<a href="#Home/Backup"><div class="btnOneLine btnWhite">准考证备份</div></a>