<div class="envelope">
	<div class="sealTriangle"></div>
	<div class="faceObverse">
		<div class="bottomTriangleBorder">
			<div class="bottomTriangle"></div>
		</div>
		<div class="leftTriangleBorder">
			<div class="leftTriangle"></div>
		</div>
		<div class="rightTriangleBorder">
			<div class="rightTriangle"></div>
		</div>
		<div class="stamp"></div>
		<div class="qixi"></div>
	</div>
	<div class="form">
		<input type="hidden" class="openid" value="<?php echo $openid;?>">
		<div class="objectContainer"></div>
		<div class="separator">
			<div class="line"></div>
			<div class="text">匿名告白</div>
			<div class="line"></div>
		</div>
		<div class="standbyTyreContainer"></div>
		<!--备胎,我更惨,7年-->
	</div>
</div>