<div class="a"></div>

<div class="body">
  <div class="pages">
    
    <div class="page-0">
      <div class="circle-outside">
        <div class="circle-inside">
          <div class="mask">
              <div class="text-center">
                <img class="logo" src="http://cache.chaoshy.cn/zhaoxin/img/2017zhaoxin/logo.png" alt="logo">
                <span class="title">惠大微报</span>
                <span class="subtitle">2017招新</span>
              </div>
          </div>
        </div>
        
        <div class="btn-container">
          <div class="btn-main" id="btn-accept">
            <div class="border-clip">接受邀请</div>
          </div>
          <div class="btn-normal">
            <a href="http://mp.weixin.qq.com/s?__biz=MjM5OTM0MDYwMg==&mid=2650475126&idx=1&sn=dbc2aceec5cdd8958d62e918796e67a4&chksm=bf3355238844dc356aa6a279b3e5a560ad3e7741c424b903cd17bf3d6f4fd740b5714c113b11&scene=0#rd" style="color:#CDBE91;">返回图文</a>
          </div>
        </div>
      </div>
    </div>


    <div class="page-1">
      <div class="bg">
        <div class="container">
          <div class="bg-head">
            <img class="head-decoration" src="http://cache.chaoshy.cn/zhaoxin/img/2017zhaoxin/head-decoration.png" alt="">
            <img src="http://cache.chaoshy.cn/zhaoxin/img/2017zhaoxin/head-body.png" alt="">
          </div>
          <div class="bg-scale">
            <img src="http://cache.chaoshy.cn/zhaoxin/img/2017zhaoxin/bg-scale.png" alt=""></div>
          
          <div class="head-icon">
            <img src="http://cache.chaoshy.cn/zhaoxin/img/2017zhaoxin/default.png" alt="">
          </div>

          <div class="input-container">
            <div class="input-name">
              <input type="text" autocorrect="off" spellcheck="false" placeholder="召唤师的名字">
              <label></label>
            </div>
            <div class="input-contact">
              <input type="text" autocorrect="off" spellcheck="false" placeholder="联系方式(手机)">
              <label></label>
            </div>
            <div class="input-major">
              <input type="text" autocorrect="off" spellcheck="false" placeholder="年纪专业(全称)">
              <label></label>
            </div>
          </div>
        </div>
        <div class="bg-tail">
          <img src="http://cache.chaoshy.cn/zhaoxin/img/2017zhaoxin/bg-tial.png" alt=""></div>
        
      </div>

      <div class="btn-container">
        <div class="btn-better" id="btn-next-1">
            <div class="border-clip">选择英雄</div>
        </div>
      </div>
    </div>


    <div class="page-2">
      <div class="tabs">
        <div class="left-panel">
          <div class="icon-container">
            <div class="icon"><img src="http://cache.chaoshy.cn/zhaoxin/img/2017zhaoxin/yunying.jpg" alt=""></div>
            <div class="name">新媒体部</div>
          </div>
          <div class="icon-container">
            <div class="icon"><img src="http://cache.chaoshy.cn/zhaoxin/img/2017zhaoxin/sheji.jpg" alt=""></div>
            <div class="name">设计部</div>
          </div>
          <div class="icon-container">
            <div class="icon"><img src="http://cache.chaoshy.cn/zhaoxin/img/2017zhaoxin/shangwu.jpg" alt=""></div>
            <div class="name">策划部</div>
          </div>
          <div class="icon-container">
            <div class="icon"><img src="http://cache.chaoshy.cn/zhaoxin/img/2017zhaoxin/manong.jpg" alt=""></div>
            <div class="name">技术部</div>
          </div>
        </div>

        <div class="right-panel">
          <div class="descript descript-0">
            不管你喜欢<br>
            四十五度角仰望天空<br>
            还是哟哟切克闹<br>
            只要你喜欢文字<br>
            善于用文字表达自己<br>
            那我们等你
          </div>
          <div class="descript descript-1">
            懂点设计<br>
            有独立审美<br>
            没事能把我P的更美些<br>
            恭喜你<br>
            你已经被锁定了
          </div>
          <div class="descript descript-2">
            抗得起策划大旗，<br>
            打得开思维脑洞，<br>
            撩得动老板（娘)，<br>
            大脑随时随地解封，<br>
            （或者只要你好看）<br>
            你准备好了吗？
          </div>
          <div class="descript descript-3">
            如果你想和各种大佬接触学习<br>
            结识一帮志同道合的coder<br>
            那么不管你是搞noip,noi,acm的老司机<br>
            还是对科学技术充满兴趣的小白<br>
            我们都宣你<br>
            <br>
            PS: 可以在后面的天赋填写Github地址(用户名), 或者博客地址<br>
          </div>
        </div>
      </div>

      <div class="btn-container">
        <div class="btn-better" id="btn-next-2">
            <div class="border-clip">确定</div>
        </div>
      </div>
    </div>


    <div class="page-3">
      <div class="bg">
        <div class="container">
          <div class="bg-head">
            <img class="head-decoration" src="http://cache.chaoshy.cn/zhaoxin/img/2017zhaoxin/head-decoration.png" alt="">
            <img src="http://cache.chaoshy.cn/zhaoxin/img/2017zhaoxin/head-body.png" alt="">
          </div>
          <div class="bg-scale">
            <img src="http://cache.chaoshy.cn/zhaoxin/img/2017zhaoxin/bg-scale.png" alt=""></div>
          
          <div class="head-icon">
            <img id="head-icon" src="http://cache.chaoshy.cn/zhaoxin/img/2017zhaoxin/yunying.png" alt="">
          </div>

          <div class="input-container">
            <div class="input-skill">
              <input type="text" autocorrect="off" spellcheck="false" placeholder="有什么特长">
              <label></label>
            </div>
            <div class="input-hobby">
              <input type="text" autocorrect="off" spellcheck="false" placeholder="或者爱好">
              <label></label>
            </div>
            <div class="input-wantTobe">
              <input type="text" autocorrect="off" spellcheck="false" placeholder="想要成为什么类型的队友">
              <label></label>
            </div>
          </div>
        </div>
        <div class="bg-tail">
          <img src="http://cache.chaoshy.cn/zhaoxin/img/2017zhaoxin/bg-tial.png" alt=""></div>
        
      </div>

      <div class="btn-container">
        <div class="btn-better" id="btn-next-3">
            <div class="border-clip">设置天赋</div>
        </div>
      </div>

      
    </div>
  </div>
  <svg display="none">
    <filter id="turbulence-1">
        <feTurbulence type="fractalNoise" baseFrequency="0 8.001" numOctaves="2" data-filterId="3" />
        <feDisplacementMap xChannelSelector="R" yChannelSelector="G" in="SourceGraphic" scale="20" />
    </filter>
    <filter id="turbulence-5">
        <feTurbulence type="fractalNoise" baseFrequency="0 4.001" numOctaves="2" data-filterId="3" />
        <feDisplacementMap xChannelSelector="R" yChannelSelector="G" in="SourceGraphic" scale="22" />
    </filter>

    <filter id="turbulence-2">
        <feTurbulence type="fractalNoise" baseFrequency="0 0.002" numOctaves="2" data-filterId="3" />
        <feDisplacementMap xChannelSelector="R" yChannelSelector="G" in="SourceGraphic" scale="20" />
    </filter>
    <filter id="turbulence-3">
        <feTurbulence type="fractalNoise" baseFrequency="0 0.005" numOctaves="2" data-filterId="3" />
        <feDisplacementMap xChannelSelector="R" yChannelSelector="G" in="SourceGraphic" scale="20" />
    </filter>
    <filter id="turbulence-4">
        <feTurbulence type="fractalNoise" baseFrequency="0 0.010" numOctaves="2" data-filterId="3" />
        <feDisplacementMap xChannelSelector="R" yChannelSelector="G" in="SourceGraphic" scale="23" />
    </filter>
    <filter id="turbulence-5">
        <feTurbulence type="fractalNoise" baseFrequency="0 0.012" numOctaves="2" data-filterId="3" />
        <feDisplacementMap xChannelSelector="R" yChannelSelector="G" in="SourceGraphic" scale="20" />
    </filter>
  </svg>
</div>