<div class="topBar flex">
  <div class="back" click="#back">
    
  </div>
  <div class="center flex">
    <span class="name">详细资料</span>
    <div class="setting flex">
    </div>
  </div>
  <div class="btnMenu" click="#Chat/AboutFriend?viewPopUp=BottomMenu"></div>
</div>

<div class="main">
  <!--div.item.segment+div.item.chatMember+div.item.segment+div.item*2+div.segment-->
  <div class="item segment"></div>
  <div class="big-item flex">
    <div class="icon">
      <img src="/data/littleChat/deepkolos-portrait.jpg" alt="">
    </div>
    <div class="center">
      <div class="name">DeepKolos<div class="man"></div></div>
      <div class="id-num">微信号: deepkolos</div>
    </div>
  </div>
  <div class="item segment"></div>
  <div class="item flex" click="#Friend/SetLabel">
    <div class="name">设置备注和标签</div>
  </div>
  <div class="item flex with-value-right">
    <div class="name">描述</div>
    <div class="center">微报 4s</div>
  </div>
  <div class="item flex with-value-right">
    <div class="name">标签</div>
    <div class="center">微报</div>
  </div>
  <div class="item phone with-value-right">
    <div class="bottomLine flex">
      <div class="name">电话号码</div>
      <div class="center">
        <div><a click="#Chat/AboutFriend?viewPopUp=Call">18320108308</a></div>
        <div><a click="#Chat/AboutFriend?viewPopUp=Call">18320108308</a></div>
      </div>
    </div>
  </div>
  <div class="item segment"></div>
  <div class="item flex with-value-right">
    <div class="name">地区</div>
    <div class="center">广东 广州</div>
  </div>
  <div class="item photo-preview flex with-value-right">
    <div class="name">个人相册</div>
    <div class="center">
      <ul class="flex">
        <li><img src="/data/littleChat/.png" alt=""></li>
        <li><img src="/data/littleChat/.png" alt=""></li>
        <li><img src="/data/littleChat/.png" alt=""></li>
      </ul>
    </div>
  </div>
  
  <div class="item flex">
    <div class="name">更多</div>
  </div>
  <div class="item segment"></div>
  <div class="btnOneLine">发消息</div>
  <div class="btnOneLine btnWhite" click="#Chat/AboutFriend?viewPopUp=VideoCall">视频聊天</div>
  <div class="item segment"></div>
</div>