<div class="topBar flex">
  <div class="back" click="#back">
    
  </div>
  <div class="center flex">
    <span class="name">添加朋友</span>
    <div class="setting flex">
    </div>
  </div>
</div>

<div class="main">
  <div class="item segment"></div>
  <div class="item flex">
    <div class="bottomLine flex">
      <div class="icon"><img src="/data/littleChat/green-search-icon.png"></div>
      <div class="name" style="color:#C4C4C4;">微信号/QQ号/手机号</div>
    </div>
  </div>
  <div class="item segment center" click="#Friend/Add?viewPopUp=QrCode">
    <span>我的微信号: deep-kolos</span>
    <img src="/data/littleChat/qr-mini-icon.png" alt="">
  </div>
  <div class="item segment"></div>
  <div class="item higher flex">
    <div class="icon">
      <img src="/data/littleChat/chat-radar-icon.png" alt="">
    </div>
    <div class="center">
      <div class="title">雷达添加朋友</div>
      <div class="description">添加身边的朋友</div>
    </div>
  </div>
  <div class="item higher flex">
    <div class="icon">
      <img src="/data/littleChat/chat-groupchat-icon.png" alt="">
    </div>
    <div class="center">
      <div class="title">面对面建群</div>
      <div class="description">与身边的朋友进入同一个群聊</div>
    </div>
  </div>
  <div class="item higher flex">
    <div class="icon">
      <img src="/data/littleChat/chat-scan-icon.png" alt="">
    </div>
    <div class="center">
      <div class="title">扫一扫</div>
      <div class="description">扫描二维码名片</div>
    </div>
  </div>
  <div class="item higher flex">
    <div class="icon">
      <img src="/data/littleChat/chat-newFriend-icon.png" alt="">
    </div>
    <div class="center">
      <div class="title">手机联系人</div>
      <div class="description">添加或邀请通讯录中的朋友</div>
    </div>
  </div>
  <div class="item higher flex">
    <div class="icon">
      <img src="/data/littleChat/chat-offical-accounts-icon.png" alt="">
    </div>
    <div class="center">
      <div class="title">公众号</div>
      <div class="description">获取更多资讯和服务</div>
    </div>
  </div>
</div>