<div class="topBar flex">
  <div class="back" click="#back">
    
  </div>
  <div class="center flex">
    <span class="name">查看手机通讯录</span>
    <div class="setting flex">
    </div>
  </div>
  <div class="info" click="&viewPopUp=Search">
     <img src="/data/littleChat/search-icon.png" alt="">
  </div>
</div>

<div class="main">
  <div class="item segment" value="L">L</div>
  <div class="list flex" click="#Chat/Window" pressing=".pressing">
    <div class="right">
      <div class="icon"></div>
    </div>
    <div class="left">
      <div class="name">蓝精灵</div>
      <div class="wechat">奋斗一年~</div>
    </div>
    <div class="btnAdd disable">已添加</div>
  </div>
  <div class="list flex" click="#Chat/Window" pressing=".pressing">
    <div class="right">
      <div class="icon"></div>
    </div>
    <div class="left">
      <div class="flex">
        <div class="name">蓝精灵</div>
      </div>
      <div class="flex">
        <div class="wechat">奋斗一年~</div>
      </div>
    </div>
    <div class="btnAdd">添加</div>
  </div>
  <div class="list flex" click="#Chat/Window" pressing=".pressing">
    <div class="right">
      <div class="icon"></div>
    </div>
    <div class="left">
      <div class="flex">
        <div class="name">蓝精灵</div>
      </div>
      <div class="flex">
        <div class="wechat">奋斗一年~</div>
      </div>
    </div>
    <div class="btnAdd">添加</div>
  </div>
</div>