<div class="topBar flex">
  <div class="back" click="#back">
    
  </div>
  <div class="center flex">
    <span class="name">详细资料</span>
    <div class="setting flex">
    </div>
  </div>
  <div class="btn text" click="#Friend/Add">
    添加朋友
  </div>
</div>

<div class="main">
  <div class="no-friend on">
    <div class="title">还没有推荐的朋友</div>
    <div class="subtitle">你可以绑定手机/QQ账号,以便找到跟多朋友</div>
  </div>
  <div class="item flex higher" click="#Friend/AddFromContact">
    <div class="icon"><img src="/data/littleChat/phone-icon.png" alt=""></div>
    <div class="name">添加手机联系人</div>
  </div>
  <div class="item segment"></div>
</div>