<div class="topBar flex">
  <div class="back" click="#back">
    
  </div>
  <div class="center flex">
    <span class="name">备注信息</span>
    <div class="setting flex">
    </div>
  </div>
  <div class="btn done on">完成</div>
</div>

<div class="main">
  <div class="description">备注名</div>
  <div class="value">
    <input type="text" name="" value="DeepKolos">
  </div>
  <div class="description">标签</div>
  <div class="value">
    <input type="text" name="" placeholder="添加标签对联系人进行分类" value="">
  </div>
  <div class="description">电话号码</div>
  <div class="value">
    <input type="text" name="" placeholder="添加电话号码" value="">
  </div>
  <div class="description">描述</div>
  <div class="value">
    <input type="text" name="" placeholder="添加更多备注信息" value="">
  </div>
  <div class="description">附加图片</div>
  <div class="value">
    <input type="text" name="" placeholder="添加名片或者相关图片" value="">
  </div>
</div>